.ant-input, .ant-input[type="tel"], .ant-input[type="password"] {
  padding: 20px 12px 20px 12px;
}

.anticon {
  font-size: 20px;
}

.ant-form-item-explain {
  margin-top: 4px;
}


.ant-input-affix-wrapper > .ant-input[type="password"], .ant-input-affix-wrapper > .ant-input[type="text"] {
  padding-top: 16px;
  padding-left: 0;
  padding-bottom: 16px;
}

//.ant-btn[type="button"], .ant-btn[type="submit"] {
//  height: auto;
//  color: white;
//  font-weight: 600;
//  outline: none;
//  background-color: #00AEEF;
//  border: none;
//  border-radius: 28px;
//  padding: 15px 15px;
//
//  &:focus {
//    outline: none;
//  }
//}


.ant-form {
  font-family: inherit;
}