.react-international-phone-input-container.react-international-phone-input-container {
  width: 100%;
  .react-international-phone-country-selector {
    display: none;
  }

  .react-international-phone-input {
    width: 100%;
    border: 0;
    border-radius: 0;
    padding: 0;
    height: 36px;

    @extend .typography-b3;
    color: var(--new-dark-grey);
  }
}

.cs-react-international-phone-dial-code-preview.cs-react-international-phone-dial-code-preview {
  background: transparent;
  border: 0;
  padding: 0;

  @extend .typography-b1;
  color: var(--new-pale-blue);
}

.react-international-phone-country-selector-dropdown.react-international-phone-country-selector-dropdown {
  box-shadow: none;
  position: static;
  width: 100%;
  max-height: 50vh;

  &:focus {
    outline: none;
  }

  .react-international-phone-country-selector-dropdown__list-item {
    display: flex;
    height: 40px;
    padding: 0;
    padding-right: 16px;

    .react-international-phone-flag-emoji {
      flex: 0 0 auto;
      width: 32px;
      height: 32px;
    }

    .react-international-phone-country-selector-dropdown__list-item-country-name {
      @extend .typography-b2;
      flex: 0 0 auto;
    }

    .react-international-phone-country-selector-dropdown__list-item-dial-code {
      display: flex;
      width: 100%;
      justify-content: right;
      @extend .typography-b1;
    }

    &.react-international-phone-country-selector-dropdown__list-item--focused,
    &.react-international-phone-country-selector-dropdown__list-item--selected,
    &:hover {
      background: transparent;
      .react-international-phone-country-selector-dropdown__list-item-country-name {
        @extend .typography-b2-bold;
      }

      .react-international-phone-country-selector-dropdown__list-item-dial-code {
        @extend .typography-b1-bold;
        color: var(--new-green);
      }
    }
  }
}
