@import "mixins";

.ant-input, .ant-input[type="tel"], .ant-input[type="password"] {
  padding: 20px 12px 20px 12px;

  &:disabled {
    background-color: var(--color-gray-300) !important;
  }

  &:hover {
    border-color: var(--color-blue-400);
  }

}

.ant-modal-header {
  margin: 10px 30px;

  @include max-devices(md) {
    margin: 0;
  }
}

.ant-select:not(.ant-select-disabled):not(.ant-select-customize-input):not(.ant-pagination-size-changer):hover .ant-select-selector {
  border-color: var(--color-blue-400) !important;
}

.ant-input-affix-wrapper.ant-input-affix-wrapper-disabled {
  background-color: var(--color-gray-300) !important;
}

.ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover, .ant-input-affix-wrapper-focused {
  border-color: var(--color-blue-400) !important;
}

.ant-select-selection-placeholder {
  color: #495057 !important;
}

.anticon {
  font-size: 20px;
}

.ant-form-item-explain {
  margin-top: 4px;
}


.ant-input-affix-wrapper > .ant-input[type="password"], .ant-input-affix-wrapper > .ant-input[type="text"] {
  padding-top: 16px;
  padding-left: 0;
  padding-bottom: 16px;
}

//.ant-btn[type="button"], .ant-btn[type="submit"] {
//  height: auto;
//  color: white;
//  font-weight: 600;
//  outline: none;
//  background-color: var(--color-blue-400);
//  border: none;
//  border-radius: 28px;
//  padding: 15px 15px;
//
//  &:focus {
//    outline: none;
//  }
//}

.ant-select-item-option {
  height: 60px !important;
  align-items: center;
}

.ant-form {
  font-family: inherit;
}