.account-button {
    @extend .typography-ui-button-badge;

    padding: 9px 24px 9px 24px;
    border-radius: 8px;
    background: var(--green);
    color: var(--FFFFFF);

    &:hover {
        background: var(--brand-gradient);
        color: var(--dark-blue);
    }

    &:disabled {
        color: var(--dark-grey);
        background: var(--pale-grey)
    }


}

.text-button {
    color: var(---pale-blue);
}

.second_value-button {

    @extend .typography-button-badge;

    padding: 9px 24px 9px 24px;
    border-radius: 8px;
    outline: 2px solid var(--green);
    color: var(--green);
    background: var(--light-green);

    &:hover {
        background: var(--brand-gradient);
        color: var(--dark-blue);
        outline: none;
    }

    &:disabled {
        outline: none;
        color: var(--mid-grey);
        background: var(--pale-grey)
    }

}


.top-menu-button_active {
    cursor: pointer;
    background: var(--brand-white);
    color: var(--dark-blue);
    border: 2px solid var(--brand-white);
    padding: 6px 18px 6px 18px;
    border-radius: 6px;
}

.top-menu-button {
    cursor: pointer;
    padding: 6px 18px 6px 18px;
    border-radius: 6px;
    border: 2px solid var(--light-grey);
    color: var(--brand-white);

    &:hover {
        @extend .top-menu-button_active;
    }

}
