@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 1000;
  font-stretch: 25% 151%;
}
@font-face {
  font-family: 'Azeret Mono';
  src: url("/public/fonts/Azeret/AzeretMono-VariableFont_wght.ttf");
}

@layer base {
  html {
    font-family: 'Montserrat', "Azeret Mono" ,Arial, sans-serif;
  }
}
