
.arrow-down-xs {
  background-image: url("/img/icon/DropdownTriangleIcon.svg");
  width: 24px;
  height: 24px;
  margin: 12px 15px;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
}

.substrate {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 10px 20px var(--color-gray-200);
  padding: 40px;
}