@import '@fontsource/archivo';
@import '@fontsource/archivo/700';
@import '@fontsource/archivo/600';
@import '@fontsource/inter';
@import '@fontsource/inter/500';
@import '@fontsource/inter/600';

.typography-h1 {
  font-family: Archivo;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
}

.typography-h3 {
  font-family: Archivo;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
}

.typography-b1 {
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.typography-b1-bold {
  font-family: Inter;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
}


.typography-b2 {
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
}

.typography-b2-bold {
  font-family: Inter;
  font-size: 12px;
  font-weight: 500;
  line-height: 22px;
}


.typography-b3 {
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.typography-b4 {
  font-family: Inter;
  font-size: 10px;
  font-weight: 400;
  line-height: 18px;
}

.typography-ui-button-badge {
  font-family: Archivo;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
}

.typography-button-badge {
  font-family: Inter;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
}