:root {
  --accent: 0 174 239;
  --primary: 58 58 58;
  --secondary: 180 192 205;
  --bgPrimary: 255 255 255;
  --bgSecondary: 248 248 250;
  --green: 43 182 115;
  --red: 235 84 84;
  --orange: 252 154 23;

  --color-accent: rgb(var(--accent));
  --color-primary: rgb(var(--primary));
  --color-secondary: rgb(var(--secondary));
  --color-bgPrimary: rgb(var(--bgPrimary));
  --color-bgSecondary: rgb(var(--bgSecondary));
  --color-green: rgb(var(--green));
  --color-red: rgb(var(--red));
  --color-orange: rgb(var(--orange));
  --color-main-bg: #F9F9FA;
  --color-blue-300: #1fb6ff;
  --color-blue-400: #00AEEF;

  --sidebar-width: 21rem;
  --content-pad-left: 6rem;
  --content-pad-right: 9rem;
  --content-pad-top: 3rem;
  --content-pad-left-xxl: 3.6rem;
  --content-pad-right-xxl: 3.6rem;
  --content-pad-left-xl: 2.4rem;
  --content-pad-right-xl: 2.4rem;
  --content-pad-top-md: 1rem;
  --content-pad-horizontal-md: 1rem;

  --border-radius: 6px;

  --card-shadow: 0 4px 12px 0 rgba(0,0,0,0.12);
}