@import "@styles/mixins.scss";

.ModalText {
  display: flex;
  align-items: flex-start;
  gap: 5px;
  padding-top: 20px;

  @include max-devices(md){
    font-size: 10px;
    color: var(--gek-dark-grey);
    justify-content: center;
  }

}


.Title{
  display: inline-flex; 
  margin-bottom: 0.25rem; 
  font-size: 0.875rem;
  line-height: 1.25rem; 
  font-weight: 500; 

  @include max-devices(md){
    font-size: 12px;
    font-weight: 600;
    color: var(--gek-dark-blue);
  }
}

.SelectToken{
  
  width: 100%;

  :global(.ant-select-selector){

    @include max-devices(md){
      border-radius: 6px !important ;
      border-color: var(--gek-light-grey) !important;
    }
  }


}

.PurchaseLimit{

  &:global(.ant-input){

    height: 50px;
    border-radius: 6px;
    border-color: var(--gek-light-grey);
    font-size: 14px !important;
    font-weight: 600 !important;
  }
}


.LimitInputWrap {
  :global(.ant-input) {
    border-color: #CED4DA !important;
    box-shadow: none !important;

    &:active, &:focus {
      border-color: #CED4DA !important;
      box-shadow: none !important;
    }
  }
}

.Input {
  box-shadow: none !important;
  border-color: #CED4DA;
  :active, :focus {
    border-color: #CED4DA !important;
    box-shadow: none !important;
  }
}