@import "@styles/mixins.scss";

.ModalText {
  gap: 5px;
  display: flex;
  align-items: flex-start;
  justify-content: center;

  @include max-devices(md){
    font-size: 10px;
    color: var(--gek-dark-grey);
    justify-content: center;
  }

}


.Title{
  display: inline-flex; 
  margin: 0 0 5px 8px;
  font-size: 0.875rem;
  line-height: 1.25rem; 
  font-weight: 500; 

  @include max-devices(md){
    font-size: 12px;
    font-weight: 600;
    color: var(--gek-dark-blue);
  }
}

.SelectToken{
  
  width: 100%;

  :global(.ant-select-selector){

    @include max-devices(md){
      border-radius: 6px !important ;
      border-color: var(--gek-light-grey) !important;
    }
  }


}

.PurchaseLimit{

  &:global(.ant-input){

    height: 50px;
    border-radius: 6px;
    border-color: var(--gek-light-grey);
    font-size: 14px !important;
    font-weight: 600 !important;
  }
}


.LimitInputWrap {
  :global(.ant-input) {
    border-color: #CED4DA !important;
    box-shadow: none !important;

    &:active, &:focus {
      border-color: #CED4DA !important;
      box-shadow: none !important;
    }
  }
}

.Input {
  box-shadow: none !important;
  border-color: #CED4DA;
  :active, :focus {
    border-color: #CED4DA !important;
    box-shadow: none !important;
  }
}

.RenderOptionContainer {
  width: 100%;
  max-height: 30px;
  padding: 5px 12px;
  border-radius: 8px;
  border: 1px solid #DCDCD9;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  cursor: pointer;

  &Text {
    flex: 1 1 100px;
    font-size: 12px;
    font-weight: 600;
    color: #285E69;

    &:last-of-type {
      font-size: 10px;
      font-weight: 400;
      color: #7B797C;
      flex: 1 1 150px;
      overflow: hidden;
      text-wrap: nowrap;
      text-overflow: ellipsis;
    }
  }

  &:hover {
    border-color: #2BAB72;
  }
}