@import "@styles/mixins.scss";

.Container {
  @media screen and (max-width: 768px) {
    margin-bottom: 10px;
  }

  @media screen and (min-width: 768px) {
    margin: 0 10px 25px 10px;
  }

  &Secondary {
    @media screen and (max-width: 768px) {
      padding: 0;
      background: transparent;
      font-size: 12px;
      color: var(--gek-additional);
      text-indent: 5px;
    }
  }
}

.FundsText {
  margin-bottom: 10px;
  display: block;
  font-size: 14px;

  @media screen and (max-width: 768px) {
    display: none;
  }
}

.WarnText {
  color: #7b797c;
  font-weight: 400;
  font-size: 12px;
  font-family: "Inter";
}

.CodeText {
  color: #285e69;
  font-size: 12px;
  font-weight: 400;
}
