.NavBtn {
  background-image: url("/img/icon/MenuIcon.svg");
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 12px 15px;
}

.ArrowBtn {
  background-image: url("/img/icon/DropdownTriangleIcon.svg");
  width: 24px;
  height: 24px;
  margin: 12px 15px;
  background-repeat: no-repeat;
  background-size: cover;
}
