.Header {
  display: flex;
  /* position: sticky; */
  align-items: center;
  justify-content: space-between;
  height: 65px;
  background: var(--gek-dark-blue);
  padding: 0 25px;

  .LogoContainer {
    display: flex;
    align-items: center;
    height: 40px;
    align-self: center;
    margin-left: 2%;

    :hover {
      cursor: pointer;
    }
  }
}


.Main {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: auto;
  justify-content: space-around;
  /* height: calc(100% - 70px); */
}

.MainBody {
  margin: 20px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
}

header p {
  color: var(--gek-additional);
}
header
{
  max-width: 466px;
}

main {
  flex: 1 1 auto;
  aspect-ratio: 1.726;
  max-width: 430px;
  min-width: 320px;
  max-height: 270px;
  background: white;
  border-radius: 8px 8px 0 0;
  box-shadow:
    3px 2px 8px 0 #A8A8A84A,
    13px 8px 15px 0 #A8A8A842,
    28px 17px 20px 0 #A8A8A826,
    50px 30px 23px 0 #A8A8A80A,
    79px 47px 26px 0 #A8A8A803;

  .FormTab {
    display: flex;
    justify-content: space-around;

    button {
      align-self: stretch;
      width: 50%;
    }
  }
 
  .FormBody {
    padding: 24px 36px;
    display: flex;
    flex-direction: column;
    gap: 6rem;
  }
}

.MainBackground {
  position: relative;
  flex-grow: 1;
  display: flex;
  width: 50%; 
  max-width: 50%;
  overflow: hidden;
}

figure {
  position: absolute;  
  top: 80px;
  left: 0;
  width: 100%;
  max-width: 783px;
}

footer,
details {
  font-size: 12px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  max-width: 500px;

  a {
    text-decoration: inherit;
    color: var(--gek-additional);
    margin: 8px 0px;
  }

  a:hover {
    text-decoration: underline;
    color: var(--gek-dark-blue);
  }
}
footer p
{
 margin: 0px;
 text-align: justify;
 color: var(--gek-mid-grey);
}

details a {
  color: var(--gek-green);
  font-weight: 550;
}
details
{
  flex: 1 1 auto;
}

nav
{
 display: flex;
 justify-content: space-between;
}

.TabButton {
  border-width: 0px;
  padding: 8px 0px;
  color: var(--gek-dark-grey);
  background: var(#00000005);

  &:hover {
    color: var(--gek-dark-blue);
  }
}

.TabButtonActive {
  background-color: transparent;
}