.Header {
  display: flex;
  /* position: sticky; */
  align-items: center;
  justify-content: space-between;
  height: 65px;
  background: var(--gek-dark-blue);
  padding: 0 25px;

  .LogoContainer {
    display: flex;
    align-items: center;
    height: 40px;
    align-self: center;
    margin-left: 2%;

    :hover {
      cursor: pointer;
    }
  }
}

.Main {
  width: 100%;
  /* height: 100%; */
  display: flex;
  overflow: auto;
  justify-content: space-between;
  height: calc(100% - 70px);
}

.MainBody {
  margin: 20px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  @media (max-width:700px) {
    align-items: center;
  }

  @media (min-width:700px) {
    margin-left: 150px;
  }
}

header {
  max-width: 425px;

  p {
    color: var(--gek-additional);
  }
}

main {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  aspect-ratio: 1.726;
  max-width: 420px;
  min-width: 320px;
  max-height: 270px;
  font-size: small;
  font-weight: 400;
  color: var(--gek-dark-blue);

  @media (max-width:420px) {
    max-width: 320px;
    max-height: 250px;
  }

  background: white;
  border-radius: 8px 8px 0 0;
  box-shadow: 3px 2px 8px 0 #A8A8A84A,
  13px 8px 15px 0 #A8A8A842,
  28px 17px 20px 0 #A8A8A826,
  50px 30px 23px 0 #A8A8A80A,
  79px 47px 26px 0 #A8A8A803;

  .FormTab {
    display: flex;
    justify-content: space-around;

    button {
      align-self: stretch;
      width: 50%;
    }
  }

  .FormBody {
    flex: 1 1 auto;
    padding: 24px 36px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.5rem;
  }

  .FormButtons {
    display: flex;
    justify-content: space-between;
  }

  input {
    height: 36px;

    box-sizing: border-box;
    font-family: inherit;
    font-size: 14px;
    vertical-align: baseline;
    font-weight: 400;
    line-height: 1.29;
    letter-spacing: .16px;
    border-radius: 0;
    outline: 2px solid transparent;
    outline-offset: -2px;
    width: 100%;

    border: none;
    border-bottom: 1px solid var(--gek-light-grey);

    padding: 0 16px;
    color: #161616;
    transition: background-color 70ms cubic-bezier(.2, 0, .38, .9), outline 70ms cubic-bezier(.2, 0, .38, .9);

    :focus {
      outline: 2px solid var(--gek-light-grey);
      outline-offset: -2px;
    }



  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: var(--gek-dark-blue);
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: inset 0 0 20px 20px white;
}

.MainBackground {
  position: relative;
  flex-grow: 1;
  display: flex;
  width: 50%;
  max-width: 50%;
  overflow: hidden;
}

figure {
  position: absolute;
  top: 80px;
  left: 0;
  width: 100%;
  max-width: 783px;
}

footer,
details {
  font-size: 12px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  max-width: 500px;

  a {
    text-decoration: inherit;
    color: var(--gek-additional);
    margin: 8px 0px;
  }

  a:hover {
    text-decoration: underline;
    color: var(--gek-dark-blue);
  }
}

footer {
  p {
    margin: 0px;
    text-align: justify;
    color: var(--gek-mid-grey);
  }

  p:last-child {
    color: var(--gek-dark-grey);
  }
}

details {
  flex: 1 1 auto;
  color: black;

  summary {
    padding: 1rem;
    cursor: pointer;
  }

  summary>* {
    display: inline;
  }

  h4 {
    color: var(--gek-additional);
  }

  a {
    color: var(--gek-green);
    font-weight: 550;
  }
}


nav {
  display: flex;
  justify-content: space-between;
}

.TabButton {
  border-width: 0px;
  padding: 8px 0px;
  color: var(--gek-dark-grey);
  background: var(#00000005);

  &:hover {
    color: var(--gek-dark-blue);
  }
}

.TabButtonActive {
  background-color: transparent;
}