@import "@styles/mixins";

.Btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 16px;
  padding: 0 5px;
  min-width: 36px;
  font-size: 0.7rem;
  font-weight: 600;
  background: var(--color-bgSecondary);
  color: var(--color-secondary);
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
  transition: all 0.2s;

  @include devices(sm) {
    padding: 0;
    font-size: 0.6rem;
  }

  &:hover {
    background: var(--color-accent);
    color: white;
  }

  &:global(.active) {
    background: var(--color-accent);
    color: white;
  }
}