.FormItemHideLabel {
  :global {
    .ant-form-item-label {
      display: none;
    }
  }
}

.FormItemNoMargin {
  margin-bottom: 0;
}


.FormItem {
  padding: 24px 12px 7px 12px;
  background: #FFFFFF;
  border: 1px solid var(--color-blue-400);
  border-radius: 4px;
}