.Modal {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 90px;
  border-radius: 8px;
  border: 1px solid #2bab72;
  transition: all 0.2s linear;
  width: 100%;
  max-width: 120px;
  background: #fff;
  z-index: 99999999;
  height: 45px;
  opacity: 0;
  visibility: hidden;

  &Body {
    display: flex;
    padding: 10px 15px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    gap: 15px;

    &Title {
      color: #2bab72;
      font-size: 14px;
      font-family: "Inter";
      font-weight: 600;
      line-height: normal;

      @media screen and (max-width: 768px) {
        font-size: 12px;
      }
    }
  }
}

.ModalActive {
  opacity: 1;
  visibility: visible;
}
