@import "@styles/mixins";

.BottomMenuMobile {
  height: 50px;
  width: 100%;
  border-top: 1px solid rgba(58, 94, 102, 0.5);
  background: #fff;
  display: flex;
  justify-content: space-evenly;
  justify-items: center;
  align-items: center;
  overflow: hidden;

  &.Gekwallet {
    grid-template-columns: repeat(3, 1fr);
  }

  a {
    height: 100%;
  }
}

.BottomMenuMobileButtons {
  height: 100%;
  color: #9d9d9d !important;
  stroke: #9d9d9d;
  padding: 7px 10px;
  transition: ease-in-out 0.2s;

  &Active {
    color: var(--gek-dark-blue) !important;
    stroke: var(--gek-dark-blue) !important;
  }
}

.BottomMobile {
  width: 100%;
  overscroll-behavior-y: none;
  position: fixed;
  bottom: 0px;
  z-index: 21;
}
.AddBottomMenuPadding{
    padding-bottom: calc(env(safe-area-inset-bottom) + 15px);
 }
.AssetInfo3 {
  background-color: var(--gek-background);
  display: block;
  text-align: right;

  @include max-devices(md) {
    background-color: transparent;
    position: fixed;
    bottom: calc(env(safe-area-inset-bottom) + 70px);
    z-index: 40;
    left: 50%;
    transform: translateX(-50%);
  }
}

.NewAsset {
  width: 56px;
  height: 56px;
  flex-shrink: 0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--gek-additional);

  &Icon {
    width: 18px;
    height: 18px;
  }
}
