@import "@styles/mixins";

.ContainerLogo {
  //width: var(--sidebar-width);
  padding-left: 21px;
  // box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.06);
  display: flex;
  align-items: center;
  height: 40px;
  align-self: center;
  margin-left: 2%;
  box-sizing: border-box;
  @include max-devices(xxxl) {
    flex-basis: var(--sidebar-width-xxxl);
  }

  @include max-devices(xxl) {
    flex-basis: var(--sidebar-width-xxl);
  }
}
:hover.ContainerLogo
{
  cursor: pointer;
}
.CommandsMenu{
  display: flex;
  justify-content:flex-end;
  flex-grow: 1;
  margin-right: 2%;
}
.AccMenu{
  background-color: #F4F4F4;
  display: flex;
  justify-content:flex-end;
  border-radius: 0.5rem;
  padding: 0.25rem 0.75rem;
  align-items: center;
}

.Header {
  position: relative;
  //z-index: 5;
  //padding-right: var(--content-pad-right);
  margin-bottom: 4px;
  height: 65px;
  background-color: #29354C;
  display: flex;

  @include max-devices(xl) {
    padding-right: var(--content-pad-right-xl);
  }

  @include max-devices(xxl) {
    padding-right: var(--content-pad-right-md);
  }
}
.Name{
  color: #F5F5F5;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 10px;
  margin-right: 10px;
}
.HeaderItemsContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  min-width:80px ;
  gap:5px
}
.HeaderMenuTitles{
  color: #F5F5F5;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Number{
  color: #929798;
  font-family: Archivo;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-left: 10px;
  margin-right: 10px;
}

.ArrowBtn {
  width: 14px;
  height: 8px;
  background-repeat: no-repeat;
  background-size: auto;
  filter: brightness(0) invert(1);
}
