@import "@styles/mixins";

.ContainerLogo {
  //width: var(--sidebar-width);
  padding-left: 21px;
  // box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.06);
  display: flex;
  align-items: center;

  @include max-devices(xxxl) {
    flex-basis: var(--sidebar-width-xxxl);
  }

  @include max-devices(xxl) {
    flex-basis: var(--sidebar-width-xxl);
  }
}
:hover.ContainerLogo
{
  cursor: pointer;
}
.CommandsMenu{
  display: flex;
  justify-content:flex-end;
  flex-grow: 1;
}
.AccMenu{
  background-color: #F4F4F4;
  display: flex;
  justify-content:flex-end;
  border-radius: 0.5rem;
  padding: 0.25rem 0.75rem;
  align-items: center;
}

.Header {
  position: relative;
  //z-index: 5;
  //padding-right: var(--content-pad-right);
  margin-bottom: 4px;
  height: 70px;
  background-color: #1F3446;
  display: flex;

  @include max-devices(xl) {
    padding-right: var(--content-pad-right-xl);
  }

  @include max-devices(xxl) {
    padding-right: var(--content-pad-right-md);
  }
}