.ChatDateContainer {
  color: #f3f6f7;
  font-size: .625rem;
  line-height: 1.25rem;
  margin-bottom: 1rem;
  text-align: center;


  .ChatDateContent {
    background-color: hsla(0, 0%, 100%, 0.1);
    border-radius: 0.75rem;
    display: inline-block;
    width: 5rem;
    font-size: .625rem;
    line-height: 1.25rem;
  }
}
