@import "@styles/mixins";

.Content {
  width: 100%;
  position: relative;
  padding-left: var(--content-pad-left);
  padding-right: var(--content-pad-right);
  padding-top: var(--content-pad-top);

  @include max-devices(xl) {
    padding-left: var(--content-pad-left-xl);
    padding-right: var(--content-pad-right-xl);
  }

  @include max-devices(md) {
    padding-left: var(--content-pad-horizontal-md);
    padding-right: var(--content-pad-horizontal-md);
    padding-top: var(--content-pad-top-md);
  }

  @include max-devices(xxl) {
    padding-left: var(--content-pad-horizontal-md);
    padding-right: var(--content-pad-horizontal-md);
  }
}
