@import "@styles/mixins";

.Select {
  position: relative;

  &Icon {
    position: absolute;
    left: 1rem;
    top: 50%;
    width: 2.5rem;
    height: 2.5rem;
    margin-top: -1.25rem;

    @include max-devices("sm") {
      width: 2.12rem;
      height: 2.12rem;
      margin-top: -1.06rem;
    }
  }

  & :global(.ant-select) {
    font-weight: 500;
    font-size: 0.875rem;
  }

  & :global(.ant-select .ant-select-selector) {
    display: inline-flex;
    align-items: center;
    height: 4.18rem;
    padding: 0 2.8rem 0 1.25rem;
    border-radius: 0.25rem;
    border-color: var(--color-secondary) !important;
    box-shadow: none !important;
    background: none;

    @include max-devices("sm") {
      height: 3.75rem;
    }
  }

  & :global(.ant-select .ant-select-selector .ant-select-selection-item) {
    padding-left: 2.93rem;
    font-weight: 500;
    font-size: 0.875rem;
    transition: all 0.2s !important;

    @include max-devices("sm") {
      padding-left: 2.55rem;
    }
  }

  & :global(.ant-select-arrow) {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 2.25rem;
    height: 2.25rem;
    right: 0.25rem;
    margin-top: -1.14rem;
    border-radius: 50%;
    transition: all 0.2s;

    svg {
      width: 0.43rem;
      height: 1.06rem;
      fill: var(--color-secondary);
    }
  }

  & :global(.ant-select-open .ant-select-arrow) {
    background: var(--color-bgSecondary);
  }
}

.SelectPopup {
  padding: 0;
  border: 1px solid var(--color-primary);
  border-radius: 0.25rem;
}

.Option {
  padding: 0.875rem 1rem !important;
  font-size: 0.875rem;
  font-weight: 500 !important;
  transition: all 0.2s !important;
  background: none !important;
  border-radius: 0 !important;
  color: var(--color-primary);

  &:nth-child(odd) {
    background: var(--color-bgSecondary) !important;
  }

  &:hover:global(:not(.ant-select-item-option-disabled)) {
    color: var(--color-accent) !important;
  }

  :global(.ant-select-item-option-content) {
    padding: 0;
  }

  :global(.ant-select-item-option-content) {
    display: inline-flex;
    align-items: center;
    gap: 0.625rem;
  }

  &:global(.ant-select-item-option-disabled) {
    opacity: 0.5;
  }
}

.OptionIcon {
  display: inline-flex;
  width: 1.8rem;
  height: 1.8rem;
  flex: 0 0 1.8rem;

  img {
    width: 100%;
    height: 100%;
  }
}