.DataMobile{
    display: flex;
    padding: 5px 10px 0px 10px;
    align-items: center;
    align-self: stretch;
    border-radius: 8px;
    backdrop-filter: blur(2px);
    color: #29354C;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 12px; /* 100% */

    @media (max-width: 767px) {
        background: var(--Brand-white, var(--gek-background));
    }
}

.historyWrap {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    width: 100%;
}

.historyItem {
    border-radius: 0.5rem;
    flex-direction: column;
    display: flex;
    width: 100%;
    background-color: #ffffff;
    border: 1px solid var(--gek-light-grey);
    padding: 10px;

    @media screen and (max-width: 767px) {
        border: 0px;
    }
}

.historyItemTitle {
    color: #3A5E66;
    font-size: 14px;
    font-family: Inter;
    font-weight: 400;
    line-height: 20px;
}