main.CallReset {
  aspect-ratio: none;
  max-height: none;
  min-height: none;
  flex: 1 0 auto;
  height: 0px;
}

.FormBody {
  flex: 1 1 auto;
  padding: 24px 36px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;

  @media screen and (max-width: 576px) {
    padding: 24px 18px;
  }
}

.BottomContainer {
  gap: 14px;
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 768px) {
    gap: 8px;
  }
}

.TermsCheck {
  display: flex;
  align-items: center;
  
  label {
    width: auto;
    font-size: 14px;
    margin-left: 8px;
    color: var(--gek-additional);

    &:hover {
      text-decoration: underline;
      color: var(--gek-dark-blue);
    }

    @media screen and (max-width: 768px) {
      font-size: 12px;
      margin-left: 4px;
    }
  }

  input {
    width: 25px;
    height: 25px;
  }
}

.Description {
  margin-top: 22px;
  font-size: 14px;
  text-align: center;
  color: var(--gek-additional);
}

.FormButtons {
  display: flex;
  justify-content: space-between;
}
