@import "@styles/mixins";

.Content {
  width: 100%;
  padding-left: var(--content-pad-left);
  padding-right: var(--content-pad-right);
  padding-top: var(--content-pad-top);

  @include devices(xxl) {
    padding-left: var(--content-pad-left-xxl);
    padding-right: var(--content-pad-right-xxl);
  }

  @include devices(xl) {
    padding-left: var(--content-pad-left-xl);
    padding-right: var(--content-pad-right-xl);
  }

  @include devices(md) {
    padding-left: var(--content-pad-horizontal-md);
    padding-right: var(--content-pad-horizontal-md);
    padding-top: var(--content-pad-top-md);
  }
}

//.Mobile {
//
//}