@import "@styles/mixins";

.ModalWrap {
  // padding: 0 5%;
}

.BorderLine {
  color: #3a5e66;
  height: 1px;
  border-width: 0;
  margin-bottom: 10px;
  background: var(--gek-light-grey);
}

.InfoItem {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
}

.InfoItemTitle {
  font-size: 14px;
  font-weight: 700;
  color: var(--gek-additional);

  @media screen and (max-width: 768px) {
    font-size: 12px;
  }
}

.InfoItemValue,
.InfoItemAddress,
.InfoItemHash {
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  color: var(--gek-dark-blue);

  @media screen and (max-width: 768px) {
    font-size: 12px;
  }
}

.InfoItemValue {
  font-size: 14px;

  @media screen and (max-width: 768px) {
    font-size: 12px;
  }
}

.InfoItemValue,
.InfoItemAddress {
  user-select: text;
}

.InfoItemAddress,
.InfoItemHash {
  display: block;
  max-width: 250px;
  word-break: break-all;
}

.InfoItemHash {
  text-decoration: underline;
}

.CopyBlock {
  display: flex;
  align-items: center;
}
