@import "@styles/mixins";

.Button[type="button"], .Button[type="submit"], {
  height: auto;
  color: white;
  font-weight: 600;
  outline: none;
  background: var(--color-blue-400);
  border: none;
  border-radius: 28px;
  padding: 15px 15px;
  transition: all ease-out 0.2s;

  &[data-size="xl"] {
    padding: 1.13rem;
    border-radius: 1.875rem;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.2;

    @include devices("md") {
      padding: 1rem;
    }
  }

  &:focus {
    outline: none;
  }

  &:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.24);
  }

  &:active {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.08), rgba(0, 0, 0, 0.08)), var(--color-blue-400);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
  }

  &:disabled {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    background: rgba(0, 174, 239, 0.58);
  }


  &.Gray {
    padding: 2px 12px;
    line-height: 1;
    font-size: 14px;
    font-weight: 500;
    color: var(--color-gray-400);
    background: none;
    border: 1px solid var(--color-gray-400);
    box-shadow: none;

    &[data-size="sm"] {
      height: 32px;
      border-radius: 16px;
      padding: 10px 8px;
    }

    &:hover {
      color: #ffffff;
      background: var(--color-blue-400);
      border-color: var(--color-blue-400);
    }
  }

  &.Text {
    padding: 0 4px;
    font-size: 16px;
    font-weight: 500;
    color: var(--color-gray-400);
    background: none;
    border: none;
    box-shadow: none;
  }
}
