@import "@styles/mixins";


.Button[type="button"], .Button[type="submit"] {
  height: auto;
  color: #f7f7f0;
  font-weight: 400;
  outline: none;
  background: #2BAB72;
  border: none;
  border-radius: 8px;
  padding: 8px 15px;
  transition: all ease-out 0.2s;

  &:focus {
    outline: none;
  }

  &:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.24);    
    // font-weight: 600; task 701
  }

  &:active {
    background: #29354C;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
  }

  &:disabled {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    color: #9D9D9D;
    background: #E7E7E7;
  }

  &[data-size="xl"] {
    padding: 1.13rem;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.2;
  }

  &[data-size="sm"] {
    line-height: 1;
    font-size: 14px;
    font-weight: 400;
    padding: 10px 8px;
  }

  &.Gray {
    color: var(--color-gray-400);
    background: none;
    border: 1px solid var(--color-gray-400);
    box-shadow: none;

    &:hover {
      color: #ffffff;
      background: #2BAB72;
      border-color: #2BAB72;
      // background: var(--color-blue-400); task 701
      // border-color: var(--color-blue-400); task 701

    }
  }
  &.Program{
    border-radius: 19.5px;
    background: white;
    border: 1px solid #3A5E66;
    color: #3A5E66;
    font-weight: 600;
    font-size: 15px;
  }
  &.Text {
    padding: 0 4px;
    font-size: 16px;
    font-weight: 500;
    color: var(--color-gray-400);
    background: none;
    border: none;
    box-shadow: none;
  }
  &.darkBlue {
    color: var(--color-gray-400);
    background: none;
    border: 1px solid var(--color-gray-400);
    box-shadow: none;
    &:hover{
      color: #ffffff;
      background: #285E69;
      border-color: #285E69;
    }
  }

}
