@import "../../../app/styles/mixins.scss";


.Button[type="button"], .Button[type="submit"] {
  height: auto;
  color: var(--gek-background);
  font-weight: 400;
  outline: none;
  background: var(--gek-green);
  border: none;
  border-radius: 8px;
  padding: 8px 15px;
  transition: all ease-out 0.2s;

  &:focus {
    outline: none;
  }

  &:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.24);    
    // font-weight: 600; task 701
  }

  &:active {
    background: var(--gek-dark-blue);
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
  }

  &:disabled {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    color: white;
    background: var(--gek-light-grey);
  }

  &[data-size="xl"] {
    padding: 1.13rem;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.2;
  }

  &[data-size="sm"] {
    line-height: 1;
    font-size: 14px;
    font-weight: 400;
    padding: 10px 8px;
  }

  &.Gray {
    color: var(--color-gray-400);
    background: none;
    border: 1px solid var(--color-gray-400);
    box-shadow: none;

    &:hover {
      color: #ffffff;
      background: var(--gek-green);
      border-color: var(--gek-green);
    }
  }

  &.Program{
    border-radius: 19.5px;
    background: white;
    border: 1px solid #3A5E66;
    color: #3A5E66;
    font-weight: 600;
    font-size: 15px;
  }

  &.Text {
    padding: 0 4px;
    font-size: 16px;
    font-weight: 500;
    color: var(--color-gray-400);
    background: none;
    border: none;
    box-shadow: none;
  }

  &.DarkBlue {
    color: var(--color-gray-400);
    background: none;
    border: 1px solid var(--color-gray-400);
    box-shadow: none;

    &:hover{
      color: #ffffff;
      background: var(--gek-additional);
      border-color: var(--gek-additional);
    }
  }

  &.WhiteGreenTransfer{
    color:var(--gek-green);
    background: var(--gek-background);
    border: 2px solid var(--gek-green);
    box-shadow: none;
    max-height: 43px;
    max-width: 120px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 14px;


    &:focus {
      outline: none;
    }
  
    &:hover {
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.24);    
      // font-weight: 600; task 701
    }
  
    &:active {
      background: #d8d8d2;
      color:var(--gek-green);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
    }

    &:disabled {
      box-shadow: 0 0 0 rgba(0, 0, 0, 0);
      color: #9D9D9D;
      background: #E7E7E7;
    }
    
    @include max-devices(md){
      font-weight: bold;
    }
  }

  &.GreenTransfer{
    color:#FFFFFF;
    background: #45AD77;
    box-shadow: none;
    max-height: 43px;
    max-width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;


    &:focus {
      outline: none;
    }
  
    &:hover {
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.24);    
      // font-weight: 600; task 701
    }
  
    &:active {
      background: var(--gek-dark-blue);
      color: white;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
    }
    
    &:disabled {
      box-shadow: 0 0 0 rgba(0, 0, 0, 0);
      color: #9D9D9D;
      background: #E7E7E7;
    }

    @include max-devices(md){
      font-weight: bold;
    }
  }

  &.BlueTransfer{
    color:#ffffff;
    background: var(--gek-additional);
    box-shadow: none;
    max-height: 43px;
    max-width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;

    &:focus {
      outline: none;
    }
  
    &:hover {
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.24);    
      // font-weight: 600; task 701
    }
  
    &:active {
      background: #1b4249;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
    }

    &:disabled {
      box-shadow: 0 0 0 rgba(0, 0, 0, 0);
      color: #9D9D9D;
      background: #E7E7E7;
    }

    @include max-devices(md){
      font-weight: bold;
    }
  }

  &.Decline{
    color:var(--gek-red);
    background: var(--gek-background);
    border: 2px solid var(--gek-red);
    box-shadow: none;
    max-height: 43px;
    max-width: 120px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 14px;


    &:focus {
      outline: none;
    }
  
    &:hover {
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.24);    
      // font-weight: 600; task 701
    }
  
    &:active {
      background: #d8d8d2;
      color:rgb(100, 14, 41);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
    }

    &:disabled {
      box-shadow: 0 0 0 rgba(0, 0, 0, 0);
      color: #9D9D9D;
      background: #E7E7E7;
    }
    
    @include max-devices(md){
      font-weight: bold;
    }
  }
}
