@import "@styles/mixins";
@import "@styles/variables";

.Item {
  font-size: 0.75rem;

  @include max-devices("md") {
    margin: 0 var(--content-margin-horizontal-negative-md);
    padding: 0 var(--content-pad-horizontal-md);
    font-size: 0.625rem;
  }

  &:nth-child(even) {
    background: var(--color-bgSecondary);
  }

  &Info {
    display: inline-block;

    @include max-devices("md") {
      font-size: 0.375rem;
    }
  }
}