@import "@styles/mixins";
@import "@styles/variables";

.Item {
  font-size: 0.65rem;
  background-color: white;
  margin: 5px 0px;
  padding: 5px 10px;
  border-radius: 8px;
  &:hover
  {
    border: 1px var(--gek-light-grey) solid;
  } 

  &Info {
    display: inline-block;

    @include max-devices("md") {
      font-size: 0.375rem;
    }
  }
}

.CancelOrderBtn {
  color: white;
  padding: 2px 10px;
  border-radius: 5px !important;
  background-color: var(--gek-red);
  height: 25px !important;
}

.CustomDateContainer{
  display: flex;  
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  background-color: #ffffff; 
  padding: 10px;
  border-radius: 8px;

  &Enter {
    width: 100%; 
    font-weight: 600; 
    text-align: center; 
    color: var(--gek-dark-blue);


    @include max-devices(md) { 
      font-size: 12px;
    }
  }

  &Secondary {
    display: flex; 
    flex-direction: column; 
    flex-grow: 0; 
    max-width: 400px;
    gap: 10px;

  }

  &Pickers {
    display: flex; 
    flex-direction: row; 
    justify-content: space-evenly; 
    align-items: center; 
    gap: 10px;

  }

  &Picker {
    margin-top: 0.5rem; 
    width: 100%; 
    height: 40px !important;
    border-radius: 5px;
    font-weight: 600 !important; 
    color: var(--gek-dark-blue) !important;


    @include max-devices(md) {
      font-size: 12px !important;
    }
  }

  &Buttons {
    display: flex; 
    flex-direction: row; 
    justify-content: space-evenly; 
    width: 100%; 

  }

  &Button{
    min-width: 120px;
  }
}

.NoOpen {
  display: flex; 
  margin-top: 0.75rem; 
  justify-content: center; 
  align-items: center; 
  width: 100%; 
  font-weight: 600; 
  text-align: center; 
  font-size: 12px;
  color: var(--gek-additional);
  margin-bottom: 10px;
  height: 35px;
  background: #fff;
  border-radius: 8px;


}

.SeeMore{
  display: flex; 
  flex-direction: row; 
  align-items: center; 
  color: var(--gek-mid-grey);


  @include max-devices(md) {
    font-size: 10px;
  }
}

.Switch {
  position: relative;
  display: flex; 
  column-gap: 1rem; 
  justify-content: center; 
  width: 100%; 

  padding-bottom: 10px;

  &Text{
    align-content: space-around; 
    font-weight: 600; 
    font-size: 12px;
  }
}

.SwitchWrap {
  background: #2BAB72;

  div {
      background: #285E69;
  }
}