.Sidebar {
  flex-basis: var(--sidebar-width);
  flex-grow: 0;
  flex-shrink: 0;
  height: auto;
  background-color: #ffffff;
}

.Item {
  height: 88px;
  display: flex;
  cursor: pointer;
  pointer-events: all;
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);

  &:hover {
    .Icon {
      pointer-events: none;
      filter: saturate(10%) invert(20%);

      &:hover {
        filter: saturate(100%) invert(0%);
      }
    }
  }
}