.Sidebar {
  width: 332px;
  min-width: 332px;
  flex-basis: 346px;
  //todo
  height: calc(100vh - 80px);
  border-top: 4px solid #F9F9FA;
  background-color: #ffffff;
}

.Coin {
  height: 88px;
  display: flex;
  cursor: pointer;
  pointer-events: all;

  &:hover {
    .Icon {
      pointer-events: none;
      filter: saturate(10%) invert(20%);

      &:hover {
        filter: saturate(100%) invert(0%);
      }
    }
  }
}

.Wrapper:global(.active) {
  .Collapse {
    max-height: 300px;
  }
}

.Collapse {
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.7s linear;
  display: flex;
  flex-direction: column;
}