.Sidebar {
  position: absolute;
  top: 48px;
  left: -100%;
  width: 100%;
  height: calc(100% - 48px);
  background-color: #ffffff;
  z-index: 40;
  transition: left ease-out 1s;

  &:global(.active) {
    left: 0;
  }
}