.UpdateBtn {
  &:global(.active) {
    animation-name: rotate;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 10s;
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0);
  }
}
