.SupportChatComponent {
    -ms-overflow-style: none;
    scrollbar-width: none;
    max-width: 75rem;
}

.SupportChatComponent::-webkit-scrollbar {
    display: none;
}

.ChatGlobalWrapper {
    max-width: 100%;
    padding: 2.6rem;
    background-color: var(--color-bgPrimary);
    box-shadow: var(--card-shadow);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ChatWindow {
    max-height: 35rem;
    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
        width: 0;
        height: 0;
    }
}