.Tab {
    //background: none;
    padding: 6px 10px;
    //border-radius: 8px;
    font-size: 14px;
    font-weight: 400;
    border: 1px solid var(--gek-additional);    
    background-color: var(--gek-additional);    
    color: var(--gek-background);
    transition: .2s;
    &:global(.active) {
        background-color: var(--gek-background);
        border-radius: 8px;
        font-weight: 600;
        color: black;
    }
}
.TabGroup{
    background-color: var(--gek-additional);
    display: inline-flex;
    flex-wrap: wrap;
    border-radius: 8px;
    padding: 0px 8px;
    margin-bottom: 5px;
}
