@import "../../../../../../app/styles/mixins.scss";

.Table {
  display: grid;
}


.TableHead {
  display: inherit;
  background-color: #eeeff2;
  color: #282828;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  padding: 14px 20px 12px;
  align-items: center;
  grid-template-columns: repeat(12, minmax(20px, 1fr));
  @include max-devices(md){
    font-size: 12px;
    background-color: var(--gek-light-grey);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    height: 35px;
  }
}

.redBtn {
  color:#ffffff;
  background: var(--gek-red) !important;
  box-shadow: none;
  max-height: 20px;
  max-width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;

  &:focus {
    outline: none;
  }

  &:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.24);    
    // font-weight: 600; task 701
  }

  &:active {
    background: #670e2b;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
  }

  &:disabled {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    color: #9D9D9D;
    background: #E7E7E7;
  }

  @include max-devices(md){
    font-weight: 600;
  }   
}

.TableBody {
  display: inherit;
  position: relative;
  min-height: 140px;
  background-color: #f9f9fa;
  border: 1px solid #eff3f8;
  border-radius: 0 0 10px 10px;

  & > .Row {
    align-items: center;
    box-sizing: border-box;
    color: #282828;
    padding: 14px 20px 12px;
    font-size: 15px;
    justify-content: space-between;
    line-height: 1.6;
    min-height: 56px;
    //padding: 10px 23px 8px 22px;
    position: relative;
    text-align: left;
    transition: .2s;
    width: 100%;

    &:not(:last-child) {
      border-bottom: 1px solid #eff3f8;
    }
  }

  @include max-devices(md){
    border: 0px;
    background-color: #ffffff;
    min-height: auto;
    align-items: center;
  }
}