@import "@styles/mixins";

.Head {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 2.812rem;

  @include max-devices("md") {
    min-height: 2.187rem;
  }
}

// TODO: remove on exchange update
.InputCurrencyText {
  & :global(.ant-input-suffix) {
    margin-right: 12px;
    
    span {
      margin-right: 8px;
      font-size: 14px !important;
    }
  }
}

.FieldsSpacer {
  margin-top: 0.5rem;
  margin-bottom: -0.5rem;

  svg {
    width: 27px;
    height: 27px;
    fill: var(--color-secondary);
  }

  @media screen and (max-width: 770px) {
    margin-top: 0rem;
    position: relative;
    top: 6px;
  }
}

.SwapButton {
  z-index: 1;

  &:hover {
    cursor: pointer;
    border-color: var(--color-blue-400);
  }

  &.Disabled {
    &:hover {
      pointer-events: none;
      border-color: var(--color-gray-400);
    }
  }

  @media screen and (max-width: 770px) {
    svg {
      width: 17px;
      height: 17px;
    }
  }
}

.Grid {
  display: grid;
  grid-template-columns: 1.25fr 0.75fr;
}

.GridFooter {
  @include max-devices("md") {
    grid-column: span 2;
  }
}

.RoomModal {
  & > div {
    & > div {
      & > div {
        padding-top: 10px;
      }
    }
  }
}
