@import "../../../app/styles/mixins.scss";

.ContainerWrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3vw;
}

.Container{
    display: flex;
    flex-direction: column;
    padding: 5vw;
    background-color: white;
    align-items: center;
    border-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;

    &Desktop{
        max-width: 50vw;
    }

}

.TextContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5vw;
}

.Title{
    font-size: 12px;
    font-weight: 600;
    color: #1F3446;
    padding: 2vw;
}

.Text{
    font-size: 10px;
    color: #1F3446;
}

.Accept{
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-top: 2vw;
}

.Switch{
    padding: 2vw;
}

.AcceptText{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 2vw;
    font-size: 12px;
    font-weight: bold;
    color: var(--gek-dark-blue);

    &Green{
        color: #45AD77;
    }
}

.Buttons{
    width: 100%;
    display: flex;
    gap: 5vw;
    justify-content: space-around;

    &Proceed{
        width: 120px;
    }
    &Back{
        width: 120px;
    }
}

.DesktopTextLarge{
    font-size: 16px;
}
.DesktopText{
    font-size: 14px;
}