@import "@styles/mixins";

.Input {
  display: flex;

  :global(.ant-input) {
    padding: 1.25rem;
    border-radius: 0.25rem;
    border-color: #A5B7C5;
    font-weight: 500;

    @include max-devices('sm') {
      padding: 1rem 1.25rem;
    }

    &::placeholder {
      color: var(--color-gray-450);
    }

    &:focus {
      border-color: var(--color-accent);
    }

    &:disabled {
      background-color: var(--color-gray-300) !important;
    }
  }
}