@import "@styles/mixins";

.Input {
  display: flex;

  :global(.ant-input) {
    padding: 1.25rem;
    border-radius: 8px;
    border-color: var(--gek-light-grey);  
    font-weight: 400;  
    color: var(--gek-dark-blue);    

    @include max-devices('sm') {
      padding: 1rem 1.25rem;
    }
    
    @include max-devices(md) {
      font-size: 12px;
    }

    &::placeholder {
      font-weight: normal;
      @include max-devices(md) {
        color: var(--gek-light-grey);
        font-size: 12px !important;
      }
      color: var(--gek-mid-grey);
      font-size: 0,7rem;
      padding-right: 5px;
    }   

    &:focus {
      border-color: var(--gek-light-grey);
    }

    &:disabled {
      background-color: var(--color-gray-300) !important;
    }
  }
}

.EyeStyles {
  position: relative;

  input {
    padding: 1rem 2.2rem 1rem 1.25rem !important;
  }
}

.TransfersInput{
  height: 32px;
  position: relative;
  overflow: hidden;
  align-items: center;
  border: 1px solid var(--gek-light-grey);
  border-radius: 5px;
  width: 100%;
  :global(.ant-input) {
    @include max-devices(md) {
      padding-left: 15px !important;
      font-size: 12px !important;
      color: var(--gek-additional);
    }
  }

  :global(.ant-input-affix-wrapper){
    @include max-devices(md) {
      padding-left: 0px; 
    }
  }

}

.EyeBlock {
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);

  @media screen and (max-width: 767px) {
    right: 10px;
  }
}