@import "@styles/mixins";

.Input {
  display: flex;

  :global(.ant-input) {
    padding: 1.25rem;
    border-radius: 8px;
    border-color: var(--gek-light-grey);  
    font-weight: bold;  
    color: var(--gek-dark-blue);    

    @include max-devices('sm') {
      padding: 1rem 1.25rem;
    }

    &::placeholder {
      font-weight: normal;
      color: var(--gek-mid-grey);
      font-size: 0.70rem;
      padding-right: 5px;
    }   

    &:focus {
      border-color: var(--gek-light-grey);
    }

    &:disabled {
      background-color: var(--color-gray-300) !important;
    }
  }
}