.Radio {
  input ~ span {
    border: 1px solid var(--color-blue-400) !important;
    background: none !important;
    width: 24px !important;
    height: 24px !important;
    display: flex !important;
    align-items: center;
    justify-content: center;

    &::after {
      content: '';
      position: static !important;
      margin: 0 !important;
      padding: 0 !important;
      background: var(--color-blue-400) !important;
      transform: scale(1) !important;
      width: 14px !important;
      height: 14px !important;
    }
  }
}