.Header {
  display: flex;
  cursor: pointer;
  width: 100%;
  justify-content: end;
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);

  &:hover {
    span {
      color: var(--color-blue-400)
    }
  }

  &:global(.active) {
    img.Arrow {
      transform: rotate(-180deg);
    }

    & + .List {
      opacity: 1;
      overflow: visible;
      max-height: 700px;
    }
  }
}


.List {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.7s ease-in-out, opacity 0.2s ease-in-out 0.2s;
}