.box {
  padding: 12px 0;
  border-bottom: 1px solid;
  border-color: #e0e0e0ff;
}

.boxTitle {
  font-family: Inter;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.5;
  color: #29354cff;
}

.childrenWrap {
  display: flex;
  gap: 6px;
  padding-top: 6px;
}
