.frameItem {
  padding: 24px 27px;
  border-radius: 8px;
  border: 2px solid #eeeeeea6;
  display: flex;
  align-items: center;
  gap: 30px;
  cursor: pointer;
  color: #285e69ff;
  background: #fff;

  &Selected {
    background: var(--gek-dark-blue);
    color: #fff;
  }
}
