.MessageTimestamp {
  display: flex;
  align-items: center;
  font-size: 0.875rem;
  color: var(--new-light-grey);
  font-size: 0.65rem;
  font-weight: 500;

  .MessageDate {
    margin-right: 0.25rem;
  }
}

.ChatWindow {
  margin-bottom: 1rem;
  display: flex;
  align-items: flex-end;
  width: 100%;

  &.Outgoing {
    justify-content: flex-end;
  }

  .Container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin: 0 3rem 0 0;


    &.Outgoing {
      align-items: flex-end;
      margin: 0 0 0 3rem;
    }
  }

  .Window {
    position: relative;
    display: inline-block;
    padding: 0.95rem;
    font-size: .85rem;
    text-align: left;
    color: black;
    border-radius: var(--border-radius);
    background-color: var(--new-light-green);
    word-wrap: break-word;
    width: 100%;

    &.Outgoing {
      background-color: var(--new-light-blue);

    }
  }

  .MessageHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;

    .AuthorDetails {
      display: flex;
      align-items: center;

      .Author {
        font-weight: bold;
        margin-right: 0.5rem;
        font-size: 0.8rem;
      }

      .Role {
        margin-left: 0.5rem;
        font-size: 0.65rem;
        font-weight: 500;
      }
    }
  }

  .MessageText {
    color: var(--color-gray-600);
    word-break: break-all;
  }
}

.SupportChatComponent {
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding: 0 0 0 5rem;

  &::-webkit-scrollbar {
    display: none;
  }
}

.Content {
  max-height: 600px;
  overflow: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  .Message {
    margin: 1rem;

    .MessageHeader {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 0.5rem;

      .AuthorDetails {
        display: flex;
        align-items: center;

        .AuthorName {
          margin-right: 0.5rem;
          font-weight: 700;
        }

        .AuthorRole {
          margin-left: 0.5rem;
          color: var(--new-pale-blue);
        }
      }
    }
  }
}
