@import "@styles/mixins";


.Wrap {
  position: relative;
  display: flex;
  margin-top: 0.4rem;
  height: 64px;
  padding: 0 12px;
  border: 1px solid var(--gek-light-grey);
  border-radius: 6px;

  @include max-devices("md") {
    padding: 0 9px;
    height: 50px;
  }
}

.Field {
  font-size: 16px;
  color: var(--gek-dark-blue);
  font-weight: 700;
  border: none;
  text-overflow: ellipsis;
  outline: none;
  padding-left: 5px;
  width: 100%;
  text-align: end;
  background: white;
  &::placeholder{
    font-size: 16px;
    color: var(--gek-mid-grey);
    font-weight: normal;

    @include max-devices("md") {
      font-size: 9px;
    }
  }
  &:active {
    outline: none !important;
    border: none !important;
  }

  :focus {
    border: none !important;
  }

  @include max-devices("md") {
    font-size: 14px;
  }

  &PriceLabel {
    display: inline-flex;
    align-items: center;
    height: 100%;
    gap: 0.25rem;
    color: var(--gek-mid-grey);
    white-space: nowrap;
    text-align: left;

    @include max-devices("lg") {
      font-size: 10px;
      flex-shrink: initial;
      white-space: initial;
    }

    @include max-devices("md") {
      margin-right: -0.3rem;
      font-size: 10px;
    }
  }

  &SwitchBtn {
    display: inline-flex;
    padding: 0;
    background: none;
    border: none;
    white-space: nowrap;
    align-items: center;
    background: white;
    pointer-events: all;

    img {
      min-width: 22px;

      @include max-devices("md") {
        min-width: 10px;
      }
    }
  }

  &.disabled {
    pointer-events: none;
    background: var(--gek-light-grey);
  }
}

