@import "@styles/mixins";


.Wrap {
  :global(.ant-input-affix-wrapper-focused) {
    border: 1px solid var(--gek-light-grey) !important;
    box-shadow: none !important;
    border-color: var(--gek-light-grey) !important;

    &:active, &:focus {
      border: 1px solid var(--gek-light-grey) !important;
      box-shadow: none !important;
      border-color: var(--gek-light-grey) !important;
    }
  }

  
  :global(.ant-input) {
    padding: 0 !important;
    height: 70px;
    border-radius: 10px !important;
    padding: 0 15px !important;
    font-weight: 700;

    @media screen and (max-width: 768px) {
      padding: 0 15px 5px 5px !important;
      margin: auto 0;
      height: 53px;
      border-radius: 6px !important;
    }

    @media screen and (max-width: 460px) {
      padding: 0 10px 0px 5px !important;
    }

    &::placeholder {
      font-family: "Inter";
      color: var(--gek-mid-grey);
      font-weight: 400;
      font-size: 16px !important;
      position: relative;
      left: 4px;
      top: -1.5px;

      @media screen and (max-width: 768px) {
        font-size: 9px !important;
        position: relative;
        left: 4px;
      }

      @media screen and (max-width: 576px) {
        // left: -10px;
      }

      @media screen and (max-width: 460px) {
        left: 5px;
      }

      @media screen and (max-width: 380px) {
        // left: 1px;
      }
    }
  }
}

.Field {
  position: relative;
  height: 50px;
  padding: 0 0 0 10px;
  border: 1px solid var(--gek-light-grey) !important;
  border-radius: 8px;
  text-align: right;  
  outline: none;
  height: 100%;

  &:active {
    outline: none !important;
    border: none !important;
  }

  :focus {
    border: none !important;
  }

  .ant-input-affix-wrapper-focused {
    border: none !important;
  }

  :global(.ant-input[type=text]) {
    text-align: right;
  }


  @include max-devices("md") {
    height: 56px;
    padding-right: 0px;
  }

  &PriceLabel {
    display: inline-flex;
    align-items: center;
    height: 100%;
    gap: 0.25rem;
    font-weight: 500;
    white-space: nowrap;
    text-align: left;

    @include max-devices("lg") {
      font-size: 0.875rem;
      flex-shrink: initial;
      white-space: initial;
    }

    @include max-devices("md") {
      margin-right: -0.3rem;
      font-size: 10px;
    }
  }

  &SwitchBtn {
    display: inline-flex;
    padding: 0;
    background: none;
    border: none;
    white-space: nowrap;
    align-items: center;
    pointer-events: all;

    img {
      min-width: 22px;

      @include max-devices("md") {
        min-width: 10px;
      }
    }
  }

  &.disabled {
    pointer-events: none;
    background: var(--gek-light-grey);   
  }
}
