.InputWrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #B9B9B5 !important;

    input {
        padding: 1.25rem 1.25rem 1.25rem 0.75rem !important;
    }
}

.HelpMessage {
    color: #45AD77;
    margin-top: 5px;
    margin-bottom: 10px;

    &Red {
        color: #ff4d4f !important;
    }
}

.IconsWrap {
    display: flex;
    gap: 10px;
    align-items: center;
}