.Button {
    border-radius: 8px;
    border-color: transparent;
    padding: 9px 24px 9px 24px;
    background: var(--accent-green);
    color: var(--background-primary);
    
    &:hover {
        background: var(--accent-green-gradient);
        color: var(--new-dark-blue);
    }
    
    &:disabled {
        color: var(--text-additional-inverted);
        background: var(--background-primary)
    }
}

.TextButton {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: var(--text-additional);
    
    :hover {
        text-decoration: underline;
    }
}
