.Button {
    border-radius: 8px;
    border-color: transparent;
    padding: 9px 24px 9px 24px;
    background: var(--gek-green);
    color: var(--gek-background);
    
    &:hover {
        background: var(--gek-green-gradient);
        color: var(--new-dark-blue);
    }
    
    &:disabled {
        color: var(--gek-dark-grey);
        background: var(--gek-background)
    }
}

.TextButton {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: var(--gek-additional);
    
    :hover {
        text-decoration: underline;
    }
}

.SecondaryButton {
    padding: 9px 24px;
    border-radius: 8px;
    border: 2px solid var(--gek-green);
    color: var(--gek-green);
    background: var(--gek-background);
}
