.wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 17px;
    font-weight: 500;
    border-bottom: 1px solid var(--gek-dark-blue);
    padding-bottom: 20px;
}

.unSelected {
    color: var(--gek-mid-grey);
}

.tab {
    &:hover {
        cursor: pointer;
    }
    text-transform: capitalize;
}