
.login-modal {
    padding: 0;
    .ant-modal-body {
        padding: 0;

        & > * {
            padding: 24px 27px;
        }
    }
    .ant-modal-content {
        padding: 0;
    }
    .ant-modal-close {
        display: none;
    }
}