.InfoBoxDescription {
  background: #2bab7233;
  font-size: 14px;
  height: min-content;
  color: var(--gek-additional);
  border-radius: 8px;
  padding: 14px 12px;
  margin-top: 5px;
  margin-bottom: 5px;

  @media screen and (max-width: 768px) {
    margin-bottom: 16px;
    color: var(--gek-green);
    font-size: 12px;
    text-align: justify;
    padding: 5px, 10px, 5px, 10px;
  }
}

.InfoBoxList {
  margin-top: 10px;
  display: flex;
  gap: 8px;
  flex-direction: column;

  li {
    list-style-type: disc;
    margin-left: 17px;
  }
}

.AtTheEndText {
  display: flex;
  align-items: center;
  padding-left: 10px;
  border-left: 1px solid #2bab72;
  text-align: center;
  font-size: 10px;
  color: #285e69;
  font-weight: 400;
  width: 50%;

  @media screen and (min-width: 768px) {
    font-size: 12px;
  }
}
