.Wrapper {
  display: flex;
  flex-direction: column;
  gap: 48px;
  align-items: center;
}

.Text {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;

  @media screen and (max-width: 768px) {
    font-size: 14px;
  }
}

.Title {
  font-size: 30px;
  color: #1f3446;
  font-weight: 500;
  line-height: 25px;

  @media screen and (max-width: 768px) {
    font-size: 17px;
  }
}

.Counter {
  font-weight: 500;
}
