.Warning {
  width: 100%;
  gap: 0.75rem;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  flex-direction: column;
}

.Blocker {
  font-size: 20px;
  color: #3a5e66;
  font-weight: 700;
  padding-top: 20px;
}

.Text {
  color: #9d9d9d;
  padding-top: 30px;
  text-align: center;
}

.FormBody {
  display: flex;
  margin: 20px 0px;
  min-height: 43px;
  flex-direction: row;
  justify-content: space-between;

  &Single {
    width: 100%;
    gap: 0.5rem;
    display: flex;
    justify-content: center;
  }
}
