main.ResetForm {
  aspect-ratio: 0;
  max-height: none;
}

.FormBody {
  flex: 1 1 auto;
  padding: 24px 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
}

.FormButtons {
  display: flex;
  justify-content: space-between;
}

.Description {
  margin-top: 22px;
  font-size: 14px;
}

.rulesList {
  flex: 1;
  margin-right: 0px;
  display: flex;
  flex-direction: row;
  position: relative;

  .rulesListH {
    position: absolute;
    margin-left: 10px;
    margin-top: 2px;
    font-size: 10px;
    transform-origin: top left;
    transform: rotate(90deg);
    color: var(--gek-mid-grey);
  }
  .deviceKey {
    flex: 1;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    font-size: 12px;
    label {
      width: auto;
      text-wrap: nowrap;
      margin-left: 4px;
      padding-bottom: 3px;
      &:hover {
        text-decoration: underline;
        color: var(--gek-dark-blue);
      }
    }
    input {
      width: auto;
      height: 14px;
    }
  }
}
