main.ResetForm {
  aspect-ratio: none;
  max-height: none;
  min-height: 300px;
  flex: 1 0 auto;
}

.FormBody {
  flex: 1 1 auto;
  padding: 24px 36px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
}

.FormButtons {
  display: flex;
  justify-content: space-between;
}

.FormTab {
  display: flex;
  justify-content: space-around;

  button {
      align-self: stretch;
      width: 50%;
  }
}

.TabButton {
  border-width: 0px;
  padding: 8px 0px;
  color: var(--gek-dark-grey);
  background: var(#00000005);

  &:hover {
    color: var(--gek-dark-blue);
  }
}

.TabButtonActive {
  background-color: transparent;
}

.Description {
  margin-top: 22px;
  font-size: 14px;
}
