@import "@styles/mixins.scss";

.button {
    height: 45px;
}

.addGekkeyBlock {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.5rem;
    background-color: #ffffff;
    border-radius: 10px;
    // box-shadow: 0 10px 20px var(--color-gray-200);
    padding: 10px 3%;
    gap: 10px;
    margin-bottom: 10px;
}

.addGekkeyTitle {
    color: #1F3446;
    font-family: Inter;
    font-weight: 400;
    padding: 10px 10px;
    @include max-devices(md){
        font-size: 12px;
    }

}

.btnsBlock {
    display: flex;
    flex-direction: row;
    min-height: 45px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.Button{
    background: var(--gek-green) !important;
    font-size: 14px;
    font-weight: bold !important;
    display: flex;
    justify-content: center;
    align-items: center;

    &:disabled{
        background: var(--gek-mid-grey) !important;
    }


}

.keysWrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 5px;
}

.keysItem {
    max-height: 62px;
    gap: 0.75rem;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: row;
    border-radius: 0.5rem;
    width: 100%;
    background-color: #ffffff;
    padding: 10px;
}

.keyItemDate {
    color: #3A5E66;
    font-family: Inter;
    @include max-devices(md){
        font-size: 10px;
    }

    font-weight: 400;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.keyBtnWrap {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 45px;
    padding: 10px;
    gap: 5px;

    :global(.current){
        background: var(--gek-background) !important;
        border: 2px solid var(--gek-orange);
        color: var(--gek-orange);
        border-radius: 5px;
        @include max-devices(md){
            height: 27px;
            font-size: 10px;
            max-width: 80px;
        }
    
    }

    :global(.remove){
        background: var(--gek-background) !important;
        border: 2px solid var(--gek-red);
        color: var(--gek-red);
        border-radius: 5px;
        @include max-devices(md){
            height: 27px;
            font-size: 10px;
            max-width: 80px;
        }

    }
}