@import "@styles/mixins.scss";

.ItemsList {
    scrollbar-color: var(--color-secondary) transparent;
    scrollbar-width: thin;
    overflow: overlay;
    
    &::-webkit-scrollbar {
      height: 5px;
      width: 5px;
    }
    
    &::-webkit-scrollbar-track {
      background: transparent;
    }
    
    &::-webkit-scrollbar-thumb {
      background-color: var(--color-secondary);
      border-radius: 5px;
      border: none;
    }
    
    @include devices('md') {
      margin: 0;
    }
}
