@import "@styles/mixins";

.CardsGrid {
  display: grid;
  gap: 40px 20px;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  @include max-devices(xxl) {
    grid-template-columns: repeat(3, minmax(300px, 1fr));
  
    :nth-child(3n-2) {
      justify-self: left;
    }
  
    :nth-child(3n) {
      justify-self: right;
    }
  }

  @include max-devices(xl) {
    grid-template-columns: repeat(2, minmax(300px, 1fr));
  
    :nth-child(2n-1) {
      justify-self: left;
    }
  
    :nth-child(2n) {
      justify-self: right;
    }
  }

  @include max-devices(lg) {
    grid-template-columns: repeat(1, minmax(300px, 1fr));
    
    :nth-child(1n) {
      justify-self: center;
    }
  }

  @include max-devices(md) {
    gap: 20px;
    grid-template-columns: repeat(2, minmax(300px, 1fr));

    :nth-child(2n-1) {
      justify-self: left;
    }

    :nth-child(2n) {
      justify-self: right;
    }
  }

  @include max-devices(sm) {
    gap: 20px;
    grid-template-columns: repeat(1, minmax(300px, 1fr));

    :nth-child(1n) {
      justify-self: center;
    }
  }
}
