.InternalDiv {
  box-sizing: border-box;
  width: 42px;
  height: 42px;
  margin: 8px;
  position: absolute;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: ldsRing 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent;
  box-sizing: border-box;

}

.Container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    position: relative;
}

.ldsRing {

}

.ldsRing {
    display: inline-block;
    width: 48px;
    height: 48px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .ldsRing div:nth-child(1) {
    animation-delay: -0.45s;
  }
  
  .ldsRing div:nth-child(2) {
    animation-delay: -0.3s;
  }
  
  .ldsRing div:nth-child(3) {
    animation-delay: -0.15s;
  }
  
  @keyframes ldsRing {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  