.inputWrapper {
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  padding: 5px;
}

.input {
  width: 100%;
  color: #3a5e66;
  border-radius: 2px;
  background-color: inherit !important;
  &::placeholder {
    color: var(--gek-light-grey);
  }
  &:focus {
    outline: none;
  }
  &:disabled {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    color: #9d9d9d;
    background: #e7e7e7;
  }
}
