.inputWrapper {
    border: 1px solid #E0E0E0;
    border-radius: 10px;
    padding: 5px;
} 

.input {
    width: 100%;
    color: #3A5E66;
    border-radius: 10px;
    font-size: clamp(0.875rem, 0.7939rem + 0.4054vw, 1.25rem);
    &::placeholder {
        color: #DCDCD9;
    }
    &:focus {
        outline: none;
    }
}