@import "@styles/mixins.scss";


.ModalWrap {
    background-color: #ffffff;
    background-clip: padding-box;
    border: 0;
    border-radius: 8px;
    box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
    pointer-events: auto;
    padding: 20px 24px;
    width: 100%;
}

.DialogPanel {
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
    background: #fff;
    z-index: 160;
}

.ModalHeader {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    margin-bottom: 8px;
    align-items: center;
    color: #29354c;
    border-bottom: 1px solid #29354C;
    padding: 0 0 10px 10px;
}

.ModalTitle {
    font-family: Inter;
    color: #29354C;
    font-weight: 600;
    font-size: 14px;
}

.ModalOverlay {
    background: rgba(157, 157, 157, 0.8);
    position: fixed;
    inset: 0;
    z-index: 150;
    width: 100vw;
    overflow-y: auto;
}

.ModalBody {
    margin-top: 15px;
    padding: 0 10px 0 10px;
}

.ModalContainer {
    display: flex;
    min-height: 100%;
    align-items: center;
    justify-content: center;
    padding: 1rem;

    @include max-devices(md){
        align-items: start;
        padding: 40px 1rem 1rem 1rem;
    }
}


.ModalFooter {
    margin-top: 15px;
    padding: 0 10px 0 10px;
    width: 100%;
}