@import "@styles/mixins.scss";

.DialogPanel {
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
    background: #fff;
    z-index: 160;

    @media screen and (max-width: 768px) {
        max-width: 100%;
    }
}

.Modal {
    background: rgba(157, 157, 157, 0.8);
    position: fixed;
    inset: 0;
    z-index: 150;
    width: 100vw;
    overflow-y: auto;

    &Container {
        display: flex;
        min-height: 100%;
        align-items: center;
        justify-content: center;
        padding: 1rem;
    
        @media screen and (max-width: 768px) {
            align-items: start;
            padding: 40px 1rem 1rem 1rem;
        }

        &Bottom {
            @media screen and (max-width: 768px) {
                align-items: end;
                padding: 40px 1rem 0 1rem;

                .DialogPanel {
                    border-radius: 8px 8px 0 0;
                }
            }
        }
    }

    &Wrap {
        background-color: #ffffff;
        background-clip: padding-box;
        border: 0;
        border-radius: 8px;
        box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
        pointer-events: auto;
        padding: 20px 24px;
        width: 100%;
    }

    &Header {
        display: flex;
        gap: 10px;
        justify-content: space-between;
        margin-bottom: 8px;
        align-items: center;
        color: #29354c;
        border-bottom: 1px solid #29354C;
        padding: 0 0 10px 10px;
    }

    &Title {
        font-family: Inter;
        color: #29354C;
        font-weight: 600;
        font-size: 14px;
    }

    &Body {
        margin-top: 15px;
        padding: 0 10px 0 10px;
    }

    &Close {
        transition: all .2s linear;
        cursor: pointer;
    
        &:hover {
            stroke: #000;
        }
    }
}
