.BankCard {
  /* width: 100%; */  
  /* aspect-ratio: 33/21; */
  width: 225px;
  height: 143px;
  max-width: 700px;
  user-select: none;
  border-radius: 10px;
  /* transition: all .2s; */
  
  background-size: auto 100%;
  background-repeat: no-repeat;
  /* background: url(/img/payment-card/payment-card-background.jpg); */
  background: url(/img/payment-card/payment-card-background2.jpg);
  background-size: contain;
  cursor: pointer;
  display: flex;
  flex-direction: column;  
  text-align: center;
}

.Text {
  background: linear-gradient(to bottom, #909090 0%, #909090 14.28%, #fffffff0 28.56%, #fffffff0 42.84%, #909090 57.12%, #909090 71.4%, #fffffff0 85.68%, #fffffff0 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  letter-spacing: 0.12rem;  
}
.CardStatus {
  color: var(--gek-red);  
  font-weight: bold;
  padding-top: 5%;
  flex: 1 0;
}
.CardNumber {
  font-size: 90%; 
  word-spacing: 0.3rem;  
  margin-bottom: 5%;

}
.CardData {
  font-size: 60%;
  padding-left: 8%;
  text-transform: uppercase;
  margin-bottom: 8%;
  text-align: left;
}
.Lg {
  font-size: 18px;

}
