.Item {
  height: 12px;
  position: relative;
  cursor: pointer;

  /* &:not(:first-child) {
    margin-top: 5px;
  } */

  &.red {
    color: #8f123a;
  }

  &.green {
    color: var(--color-green);
  }

  .ItemPercent {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    transition: 0.5s;
  }

  &.red .ItemPercent {
    background: rgba(var(--red) / 0.1);
  }

  &.green .ItemPercent {
    background: rgba(var(--green) / 0.1);
  }

  .ItemText {
    /* position: relative;
    z-index: 1; */
    display: flex;
    justify-content: space-between;
    font-size: 10px;
    height: 100%;

    @media (max-width: 768px) {
      font-size: 0.75rem;
    }
  }
}
