@import "@styles/mixins";

.TableHead {
  background-color: #E7E7E7;
  color: #9D9D9D;
  font-size: 14px;
  font-weight: 500;
  padding: 10px 15px;
  align-items: center;

  @include max-devices("md") {
    font-size: 12px;
  }
}

.TableBody {
  display: inherit;
  position: relative;
  //min-height: 140px;
  background-color: #f9f9fa;
  border: 1px solid #eff3f8;
  border-radius: 1px 1px 8px 8px;

  &>.Row {
    align-items: center;
    box-sizing: border-box;
    gap: 8px;
    color: #282828;
    padding: 8px 15px;
    font-size: 12px;
    justify-content: space-between;
    //line-height: 1.6;
    //min-height: 56px;
    //padding: 10px 23px 8px 22px;
    position: relative;
    text-align: left;
    transition: .2s;
    width: 100%;

    @include max-devices("md") {
      font-size: 12px;
    }

    :hover {
      box-shadow: 0 1px 81px rgba(0, 0, 0, 0.1);
      transition: .2s;
    }

    &:not(:last-child) {
      border-bottom: 1px solid #eff3f8;
    }
  }
}

.MainContainerMobile {
  display: flex;
  padding: 10px 5px;
  flex-direction: column;
  align-self: center;
  max-width: 400px;
  margin: auto;
}

.DataMobile {
  padding-top: 10px;
  color: var(--gek-dark-grey);
  font-size: smaller;
}

.HistoryTxRow {
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  grid-row: 1fr 1fr;
  font-size: small;
  background-color: white;
  cursor: pointer;
  white-space: nowrap;

  &:hover {
    background-color: #f9f9fa;
  }

  border-radius: 8px;
  padding: 2px 10px 3px 10px;
  margin-bottom: 4px;
}

.HTypeImg {
  width: 30px;
  height: 30px;
  fill: var(--gek-additional);
  stroke: var(--gek-additional);
  grid-row: 1 / span 2;
  align-self: center;
  padding-top: 1px;
}

.HTypeImg2 {
  grid-row: 1 / span 2;
  align-self: center;
  margin-left: 8px;
}

.HType {
  padding: 4px 0px 2px 2px;
  grid-row: 1;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
}

.HState,
.HStateOrg {
  padding: 2px 2px 2px 0px;
  grid-row: 1;
  text-align: right;
}

.HStateOrg {
  color: var(--gek-orange);
}

.HTag {
  padding: 4px 0px 2px 2px;
  grid-row: 2;
  position: relative;
  overflow: hidden;
  color: var(--gek-mid-grey);
  font-size: smaller;
  text-overflow: ellipsis;
}

.HAmount {
  padding: 2px 2px 2px 0px;
  grid-row: 2;
  text-align: right;
  //font-size: medium;
  // font-family: monospace;
  //font-weight: 500;
  white-space: nowrap;
}

.HAmountRed {
  color: var(--gek-red);

  &::before {
    content: "-";
  }
}

.HAmountGreen {
  color: var(--gek-green);

  &::before {
    content: "+";
  }
}

.HType:after {
  content: "";
  //background: var(--gek-additional);
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 75px;
  border-bottom: var(--gek-additional) 1px solid;
}