@import "@styles/mixins";

.TableHead {
  background-color: #eeeff2;
  color: #282828;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  padding: 14px 20px 12px;
  align-items: center;

  @include max-devices("md") {
    font-size: 14px;
  }
}


.TableBody {
  display: inherit;
  position: relative;
  min-height: 140px;
  background-color: #f9f9fa;
  border: 1px solid #eff3f8;
  border-radius: 0 0 10px 10px;

  & > .Row {
    align-items: center;
    box-sizing: border-box;
    gap: 8px;
    color: #282828;
    padding: 14px 20px 12px;
    font-size: 15px;
    justify-content: space-between;
    line-height: 1.6;
    min-height: 56px;
    //padding: 10px 23px 8px 22px;
    position: relative;
    text-align: left;
    transition: .2s;
    width: 100%;

    @include max-devices("md") {
      font-size: 12px;
    }

    :hover {
      box-shadow: 0 1px 81px rgba(0, 0, 0, 0.1);
      transition: .2s;
    }

    &:not(:last-child) {
      border-bottom: 1px solid #eff3f8;
    }
  }
}
