@import "@styles/mixins";

.Container {
  display: flex;
  flex-direction: column;
  padding: 0px 0px 10px 0px;

  @media screen and (min-width: 768px) {
    margin: auto;
    max-width: 600px;
    align-self: center;
  }
}

.DateLine {
  color: var(--gek-dark-grey);
  font-size: 12px;
  font-weight: 600;
  margin: 5px 0 4px 10px;
}

.NoTransactions{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 100%;
  background: white;
  font-size: 16px;
  font-weight: 600;
  color: var(--gek-additional);
  border-radius: 8px;
  margin-top: 10px;

  @include max-devices(md){
    font-size: 12px;
  }


}
