.Card {
    display: flex;
    opacity: 95%;
    background: url(/img/payment-card/payment-card-background.png);
    min-height: 195px;
    max-width: 310px;
    min-width: 310px;
    border-radius: 4px;
    transition: all;    

    &:hover {
        background: url(/img/payment-card/payment-card-background.png);
        opacity: 100%;
        box-shadow: 0 10px 27px 0px rgba(0,0,0,0.16)
    }
}

.Data {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    width: 100%;
    text-transform: uppercase;
    background: linear-gradient(to bottom, #c8c8c8 0%, #c8c8c8 14.28%, white 28.56%, white 42.84%, #c8c8c8 57.12%, #c8c8c8 71.4%, white 85.68%, white 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
