.DropdownItem {
  fill: var(--color-primary);
  transition: all 0.2s;

  i {
    flex-shrink: 0;
    opacity: 0.7;

    svg {
      width: 1.875rem;
      height: 1.875rem;
      fill: inherit;
    }
  }

  &:hover {
    color: var(--color-accent);
    fill: var(--color-accent);
    background: var(--color-accent-light);

    i {
      opacity: 1;
    }
  }
}