@import "@styles/mixins";

.ContainerLogo {
  width: var(--sidebar-width);
  padding-left: 21px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.06);
}

.Header {
  position: relative;
  z-index: 1;
  padding-right: var(--content-pad-right);
  margin-bottom: 4px;
  height: 80px;
  background-color: white;

  @include devices(xl) {
    padding-right: var(--content-pad-right-xl);
  }
}

.DropdownMenu {
  max-height: 0;
  transition: max-height 0.6s ease, border 0.6s ease;
  overflow: hidden;
  position: absolute;
  z-index: 100;
  left: 0;
  background-color: #ffffff;
  width: 100%;
  border: 1px solid transparent;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.1);
  border-radius: 4px;

  &:global(.active) {
    max-height: 700px;
    border: 1px solid var(--color-gray-400);
  }
}

.DropdownItem {
  font-size: 14px;
  font-weight: 500;
  padding: 12px 28px;
  display: flex;
  width: 100%;
  text-align: left;

  &:hover {
    background-color: var(--color-gray-300);
    color: var(--color-blue-400)
  }
}