.ContainerLogo {
  width: var(--sidebar-width);
  //min-width: 342px;
  border-right: 1px solid #F9F9FA;
  padding-left: 21px;
}

.Header {
  padding-right: 170px;
  height: 80px;
  background-color: white;
}