.Main {
  height: calc(100vh - 65px);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.Outline {
  position: relative;
  aspect-ratio: 1.157/1;
  height: 85%;
  border: 10px solid #D9D9D9;
  border-radius: 2% 10% 10% 2%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.Dashed {
  aspect-ratio: 1.157/1;
  width: 95%;
  border: 3px dashed #D9D9D9;
  border-left: 0px;
  border-radius: 0px 10% 10% 0px;
}

.Login {
  aspect-ratio: 1.53/1;
  height: 25%;
  border: 10px solid #D9D9D9;
  position: absolute;
  border-radius: 70px 20px 20px 70px;
  right: -7%;
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.Round {
  width: 8vh;
  height: 8vh;
  border: 10px solid #D9D9D9;
  border-radius: 50%;
}

.LoginTitle {
  color: #B9B9B5;
  font-size: 3vh;
  font-weight: 600;
}