.MessageForm {
  position: absolute;
  bottom: 0;

  min-height: 3.5rem;
  width: 100%;
  padding: 11px 9px 12px 11px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  background-color: #2e2e2e;
  border-radius: 15px 15px 0 0;

  .AttachFile {
    display: flex;
    justify-content: flex-start;
  }

  .MessageInput {
    flex: 1;
    margin: 0 8px;
  }

  .SendButton {
    display: flex;
    justify-content: flex-end;
    margin-right: 5px;
  }
}
