@import "@styles/mixins.scss";

.CopyForm {
  height: 60px;
  background: var(--color-bgSecondary);
  border: 1px solid #DCDCD9;
  border-radius: 8px;
  overflow: hidden;
  width: 100%;

  @include max-devices(md){
    justify-content: center;
    height: 35px;
    border-color: #DCDCD9;
    border-radius: 8px;
  }

  .Input {
    padding: 0 1rem 0 1.25rem;
    flex-grow: 1;
    height: 100%;
    background: none;
    border: none;
    outline: none;
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #7B797C;
    font-family: "Inter";
    font-weight: 700;
    font-size: 12px;

    @include max-devices(md){
      padding-right: 0px;
      font-size: 12px;
      font-weight: bold;
      color: var(--gek-dark-grey);
    }
  }

  .Btn {
    flex-shrink: 0;
    height: 100%;
    padding: 0 0.75rem;
    background: none;
    border: none;

    @include max-devices(md){
      border: 0px;
      padding-left: 0px;
    }
  }
}