@import "@styles/mixins.scss";

.CopyForm {
  height: 3.75rem;
  background: var(--color-bgSecondary);
  border: 1px solid var(--color-secondary);
  border-radius: 0.25rem;
  overflow: hidden;

  @include max-devices(md){
    justify-content: center;
    height: 51px;
    border-color: var(--gek-mid-grey);
    border-radius: 8px;
  }

  .Input {
    padding: 0 1rem 0 1.25rem;
    flex-grow: 1;
    height: 100%;
    background: none;
    border: none;
    outline: none;
    min-width: 0;
    text-overflow: ellipsis;

    @include max-devices(md){
      padding-right: 0px;
      font-size: 12px;
      font-weight: bold;
      color: var(--gek-dark-grey);
    }
  }

  .Btn {
    flex-shrink: 0;
    height: 100%;
    padding: 0 0.75rem;
    background: none;
    border: none;
    border-left: 1px solid var(--color-secondary);

    @include max-devices(md){
      border: 0px;
      padding-left: 0px;
    }
  }
}