.ChatItem {
  margin-bottom: 1rem;
  display: flex;
  align-items: flex-end;

  &.outgoing {
    padding-right: 0.375rem;
    justify-content: flex-end;
  }

  .MessageContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &.outgoing {
      align-items: flex-end;
    }
  }

  .MessageContent {
    position: relative;
    display: inline-block;
    padding: 0.9375rem 79px 0.875rem 1rem;
    font-size: 0.8125rem;
    letter-spacing: -0.1px;
    text-align: left;
    color: black;
    border-radius: 1.25rem;
    background-color: white;

    &.outgoing {
      padding: 0.75rem 4.875rem 0.8125rem 1rem;
      color: white;
      background-color: #00aeef;
    }

    &After {
      content: "";
      position: absolute;
      right: -6px;
      bottom: 0;
      width: 0.9375rem;
      height: 1.25rem;
    }

    &Before {
      content: "";
      position: absolute;
      left: -0.375rem;
      bottom: 0;
      width: 0.9375rem;
      height: 1.25rem;
    }

    &Name {
      font-weight: 600;
      margin-bottom: 0.375rem;
      letter-spacing: 0.8px;
    }

    &Time {
      position: absolute;
      bottom: 0.375rem;
      right: 1rem;
      opacity: 0.5;
      font-size: 0.75rem;
      font-weight: 400;
      font-style: italic;
      line-height: 0.875rem;
      letter-spacing: -0.3px;

      &.outgoing {
        bottom: 0.3125rem;
        right: 1.9375rem;
      }
    }

    &Status {
      position: absolute;
      width: 1rem;
      height: 0.625rem;
      right: 0.6875rem;
      bottom: 0.4375rem;
      background-position: center;
      color: white;
      opacity: 0.5;

      &.read {
        opacity: 1;
      }
    }
  }

  .SendButton {
    display: flex;
    justify-content: flex-end;
    margin-right: 5px;
  }
}
