@import "@styles/mixins";

.Title {
  &Col {
    padding-bottom: 15px;

    &Text {
      line-height: normal;
      color: #1f3446;
      font-weight: 500;
      font-size: 16px;

      @include max-devices("md") {
        font-weight: 700;
        font-size: 12px;
      }

      &Margin {
        font-weight: 700;
        color: #1f3446;
        font-size: 12px;
        margin-right: 2rem;
      }
    }
  }
}

.EURCost {
  display: flex;
  padding: 10px;
  flex-direction: column;
  gap: 0.25rem;
  border-radius: 8px;
  background: #dadada;

  @include max-devices("md") {
    padding: 0.5rem;
  }

  &Value {
    font-size: 16px;
    font-weight: 700;
    color: #3a5e66;

    @include max-devices("md") {
      font-size: 14px;
    }
  }

  &Info {
    font-size: 0.75rem;
    line-height: 1rem;
    color: #3a5e66;

    &Text {
      font-size: 14px;

      @include max-devices("md") {
        font-size: 12px;
      }

      &Uppercase {
        font-weight: bold;
        text-transform: uppercase;
      }

      &Link {
        color: #45ad77;

        &:hover {
          cursor: pointer;
          text-decoration: underline;
        }
      }
    }
  }
}

.ButtonContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  flex-direction: column;
  align-items: center;
}

.Button {
  width: 100%;
  margin-bottom: 10px;

  &Two {
    width: 130px;
  }

  &Label {
    font-weight: 500;
    font-size: 16px;

    @include max-devices("md") {
      font-weight: 600;
      font-size: 12px;
    }
  }
}

.BottomFeeInfo {
  display: none;
  justify-content: center;
  width: 100%;

  &Text {
    font-family: "Inter";
    font-weight: 400;
    color: #9d9d9d;
    font-size: 10px;

    &Bold {
      font-weight: bold;
    }
  }

  @media screen and (max-width: 768px) {
    display: flex;
  }
}

.MainModalTitle {
  display: block;
  font-size: 18px;
  color: #1f3446;
  font-weight: 600;

  @include max-devices("md") {
    font-size: 16px;
  }
}

.ModalLine {
  border: 0px;
  height: 1px;
  background: var(--gek-light-grey);
}

.ModalInfo {
  display: flex;
  flex-direction: row;
  align-items: center;

  &Icon {
    margin-right: 0.5rem;
  }

  &Text {
    font-size: 14px;
    color: var(--gek-dark-grey);
    font-weight: 400;

    @include max-devices("md") {
      font-size: 12px;
    }
  }
}

.ModalRows {
  margin-left: 10px;
  width: 100%;

  &Title {
    color: #9d9d9d;
    font-size: 14px;

    @include max-devices("md") {
      font-size: 12px;
    }
  }

  &Value {
    display: inline-block;
    color: var(--gek-additional);
    font-weight: 600;
    width: 100%;
    overflow: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;

    @include max-devices("md") {
      font-size: 12px;
    }
  }
}

.ModalPayInfo {
  display: flex;
  margin-right: 2.5rem;
  margin-top: 1.5rem;
  gap: 1rem;
  justify-content: space-between;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  width: 80%;

  @include max-devices("md") {
    margin-right: 3rem;
    margin-top: 1rem;
  }

  &Col {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: max-content;

    @include max-devices("md") {
      gap: 0.2rem;
    }

    &Value {
      display: flex;
      flex-direction: row;
      gap: 0.5rem;
      width: max-content;
    }
  }

  &Text {
    overflow-wrap: normal;
    color: #3a5e66;
    text-wrap: nowrap;
    word-break: keep-all;
    white-space: nowrap;
    &Fee {
      overflow-wrap: normal;
      white-space: nowrap;
      text-wrap: nowrap;
      word-break: keep-all;
      color: #9d9d9d;
    }
  }

  &ValueFlex {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    &Text {
      overflow-wrap: normal;
      width: 100%;
      font-weight: 600;
      color: #1f3446;
      text-align: end;
      max-width: 20vw;
      text-wrap: nowrap;
      word-break: keep-all;
      white-space: nowrap;

      &Fee {
        overflow-wrap: normal;
        color: #9d9d9d;
        text-align: start;
        text-wrap: nowrap;
        word-break: keep-all;
        white-space: nowrap;
        max-width: 20vw;
      }
    }
    &TextCurrency {
      width: 100%;
      font-weight: 600;
      color: #1f3446;
      text-align: start;
      text-wrap: nowrap;
    }
  }
}

.MobWrap {
  background: #f7f7f0;
  margin: 0 -10px -10px -10px;
}

.MobWrapBlock {
  padding: 0 10px 0px 10px;
  border-radius: 0 0 8px 8px;
  background: #fff;
}
