@import "@styles/mixins";

.InputWrap {
    input {
        border-radius: 5px !important;
    }
}

.Title{
    margin-bottom: 2rem;

    &Col{
        padding-bottom: 15px;

        &Text{
            font-family: "Inter";
            color: #1F3446;
            font-weight: 500;
            font-size: 16px;
            
            @include max-devices("md") {
                font-weight: 600;
                line-height: 10px;
                font-size: 12px;
            }

            &Margin{
                font-weight: 700; 
                color: #1F3446;
                font-size: 12px;
                margin-right: 2rem;
            }
        }
    }
}

.EURCost{
    display: flex; 
    padding: 1rem;
    margin-bottom: 1rem; 
    flex-direction: column; 
    gap: 0.25rem; 
    border-radius: 0.5rem; 
    background: #DADADA;

    @include max-devices("md") {
        padding: .5rem;
    }

    &Value{
        font-size: 20px;
        font-weight: 700;
        color: #3A5E66;

        @include max-devices("md") {
            font-size: 14px;
        }
    }

    &Info{
        font-size: 0.75rem;
        line-height: 1rem; 
        color: #3A5E66;
    
        &Text{
            font-size: 12px;

            @include max-devices("md") {
                font-size: 10px;
            }

            &Uppercase{
                text-transform: uppercase;
            }

            &Link{
                color: #45AD77;

                &:hover{
                    cursor: pointer;
                    text-decoration: underline;
                }
            }
        }
    }
}

.PayInfo{
    width: 100%;
    display: flex;
    font-size: 14px;
    font-weight: 500;
    align-self: center;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    line-height: 1.25rem;
    justify-content: space-between;

    @include max-devices("md") {
        gap: 1rem;
        font-size: 12px;
        margin-top: 1rem;
    }

    &Col{
        display: flex; 
        flex-direction: column; 
        width: max-content;

        @include max-devices("md") {
            gap: .25rem;
        }

        &Value{
            display: flex; 
            flex-direction: row; 
            gap: 0.5rem; 
            width: max-content;
            @include max-devices("md") {
                font-size: 12px;
            }
    
            
        }
    }

    &Text{
        font-size: 14px;
        font-weight: 400;
        font-family: Inter;
        color:#3A5E66;
        text-wrap: nowrap;

        @media screen and (max-width: 768px) {
            font-size: 12px;
        }
        &Fee{
            color: #9D9D9D;
            font-size: 14px;
            font-weight: 400;

            @media screen and (max-width: 768px) {
                font-size: 12px;
            }
        }
    }

    &ValueFlex{
        display: flex; 
        justify-content: flex-end;
        align-items: center;
        max-width: 90px;
        &Text{
            text-overflow: ellipsis;
            text-wrap: nowrap;
            width: 100%; 
            font-weight: 600; 
            color: #1F3446;
            text-align: end;
            text-wrap: nowrap;
            width: 100%;
            overflow: hidden;

            &Fee{
                color: #9D9D9D;
                text-align: start;
                text-wrap: nowrap;
                max-width: 20vw;
                font-weight: 600;
                font-size: 14px;

                @media screen and (max-width: 768px) {
                    font-size: 12px;
                }
            }
        }
        &TextCurrency{
            font-size: 14px;
            width: 100%; 
            font-weight: 600; 
            color: #1F3446;
            text-align: start;
            text-wrap: nowrap;

            @media screen and (max-width: 768px) {
                font-size: 12px;
            }
        }
    }
}



.ButtonContainer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    
    &Center{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
        flex-direction: column;
        align-items: center;
    }
}

.Button{
    width: 100%; 
    margin-bottom: 10px;

    &Two{
        width: 130px;
    }

    &Label {
        font-weight: 500;
        font-size: 16px;
        
        @include max-devices("md") {
            font-weight: 600;
            font-size: 12px;
        }
    }
}

.BottomFeeInfo{
    display: flex; 
    justify-content: center; 
    width: 100%; 

    &Text{
        font-weight: 400;
        color: #9D9D9D;
        font-size: 10px;

        &Bold{
            font-weight: bold;
        }
    }
}

.MainModalTitle{
    display: block;
    font-size: 18px;
    color: #1F3446;
    font-weight: 600;

    @include max-devices("md") {
        font-size: 16px;
    }
}

.ModalLine{
    border: 0px;
    height: 1px;
    background: var(--gek-light-grey);
}

.ModalInfo{
    display: flex;
    flex-direction: row;
    align-items: center;
    

    &Icon{
        margin-right: .5rem;
    }

    &Text{
        font-size: 12px;
        color: var(--gek-dark-grey);
        font-weight: 400;
        line-height: 15px;
        display: block;

        @media screen and (max-width: 768px) {
            font-size: 10px;
        }
    }
}

.ModalRows{
    width: 100%;

    &Title{
        color: #9D9D9D;
        font-size: 14px;

        @include max-devices("md") {
            font-size: 12px;
        }
    }

    &Value{
        display: inline-block;
        color: var(--gek-additional);
        font-weight: 600;
        width: 100%;
        overflow: hidden;
        text-wrap: nowrap;
        text-overflow: ellipsis;
        font-size: 14px;

        @include max-devices("md") {
            font-size: 12px;
        }
    }
}

.ModalPayInfo{
    display: flex;
    margin-top: 1.5rem;
    width: 100%; 
    gap: 30%;
    font-size: 0.875rem;
    line-height: 1.25rem; 
    font-weight: 500; 
    
    @media screen and (max-width: 768px) {
        margin-top: 1rem;
    }


    &Col{
        display: flex; 
        flex-direction: column; 
        gap: 0.5rem; 
        width: max-content;

        @include max-devices("md") {
            gap: .2rem;
        }
        
        &Value{
            display: flex; 
            flex-direction: row; 
            gap: 0.5rem; 
            width: max-content;
        }
    }

    &Text{
        overflow-wrap: normal;
        color:#3A5E66;
        text-wrap: nowrap;
        word-break: keep-all;
        white-space: nowrap;
        font-size: 14px;
        font-weight: 400;

        @media screen and (max-width: 768px) {
            font-size: 12px;
        }

        &Fee{
            overflow-wrap: normal;
            white-space: nowrap;
            text-wrap: nowrap;
            word-break: keep-all;    
            color: #9D9D9D;
            font-size: 14px;
            font-weight: 400;

            @media screen and (max-width: 768px) {
                font-size: 12px;
            }
        }
    }

    &ValueFlex{
        display: flex; 
        justify-content: end;
        align-items: center; 
        max-width: 20vw;

        &Text{
            overflow: hidden;
            text-overflow: ellipsis;
            width: 100%; 
            font-weight: 600; 
            color: #1F3446;
            text-align: end;
            text-wrap: nowrap;
            word-break: keep-all;
            font-size: 14px;

            @media screen and (max-width: 768px) {
                font-size: 12px;
            }

            &Fee{
                overflow-wrap: normal;
                color: #9D9D9D;
                text-align: start;
                text-wrap: nowrap;
                word-break: keep-all;
                white-space: nowrap;
                max-width: 20vw;
                font-size: 14px;
                overflow: hidden;
                text-overflow: ellipsis;

                @media screen and (max-width: 768px) {
                    font-size: 12px;
                }
            }
        }
        &TextCurrency{
            width: 100%; 
            font-weight: 600; 
            color: #1F3446;
            text-align: start;
            text-wrap: nowrap;
            font-size: 14px;

            @media screen and (max-width: 768px) {
                font-size: 12px;
            }
        }
    }
}


.MobWrap {
    margin: -20px -20px -10px -20px;
    background: #F7F7F0;
}

.MobWrapBlock {
    padding: 20px 20px 0 20px;
    background: #fff;
    border-radius: 8px;
}