.btn {
  display: flex;
  cursor: pointer;
  align-items: center;
  padding: 3px 12px;
  border-radius: 10px;
  background: #e7e7e7ff;
  color: #285e69ff;
  border: 2px solid;
  border-color: transparent;
  font-family: Inter;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.5;

  &Selected {
    background: #e2ffeeff;
    border-color: #3aa535ff;
  }
}
