.Wrapper {
  min-width: 200px;
}

.Pair {
  font-size: 0.7rem;
}

.RedWrapper {
  background: rgba(var(--red) / 0.05);
}

.GreenWrapper {
  background: rgba(var(--green) / 0.05);
}

.Rate {
  svg {
    width: 0.8rem;
    height: 0.8rem;
    fill: inherit;
  }

  &Up {
    color: var(--color-green);
    fill: var(--color-green);
  }

  &Down {
    color: var(--color-red);
    fill: var(--color-red);

    svg {
      transform: rotate(180deg);
    }
  }
}