@import "@styles/mixins";

.Wrapper {
  min-width: 200px;

  @include devices("lg") {
    min-width: 154px;
  }
}

.Pair {
  font-size: 0.7rem;

  @include devices("md") {
    margin: -0.4em 0;
    font-size: 0.5rem;
  }
}

.RedWrapper {
  background: rgba(var(--red) / 0.05);
}

.GreenWrapper {
  background: rgba(var(--green) / 0.05);
}

.Rate {
  svg {
    width: 1em;
    height: 1em;
    fill: inherit;
  }

  &Up {
    color: var(--color-green);
    fill: var(--color-green);
  }

  &Down {
    color: var(--color-red);
    fill: var(--color-red);

    svg {
      transform: rotate(180deg);
    }
  }
}