.WalletButtons {
    margin-bottom: 10px;
    width: calc(100% + 30px);
    height: 60px;
    display: grid;
    overflow: hidden;
    align-items: center;
    background: var(--gek-background);
    justify-items: center;
    grid-column-gap: 10px;
    grid-template-rows: 100%;
    grid-template-columns: repeat(3, 1fr);
    background: #fff;


    &.Gekwallet {
        grid-template-columns: repeat(2, 1fr);
    }
}

.MainWallet {
    grid-template-columns: repeat(4, 1fr);

    &.Gekwallet {
        grid-template-columns: repeat(2, 1fr);
    }
}
