.wrapper p {
  color: #dcdcd9;
  margin: 4px 15px;
  font-size: 10px;
}

.p {
  &::before {
    content: "✔";
    color: #dcdcd9;
    display: inline-block;
    margin-right: 0.4em;
  }
}

.p.passed {
  color: green;

  &::before {
    color: green;
  }
}
