:root {
  --gek-text-primary: #29354c;

  --gek-dark-blue: #29354c;
  --gek-additional: #285e69;
  --gek-green: #2bab72;
  --gek-red: #8f123a;
  --gek-orange: #f8a73e;
  --gek-background: #f7f7f0;
  --gek-light-grey: #dcdcd9;
  --gek-mid-grey: #b9b9b5;
  --gek-dark-grey: #7b797c;
  --gek-green-gradient: linear-gradient(45deg, #00aeef 0%, #72bf44 100%);
}

$breakpoints: (
  "sm": 576px,
  "md": 768px,
  "lg": 992px,
  "xl": 1200px,
  "xxl": 1600px,
  "xxxl": 1700px
);
