.Body {
  flex: 0 0 auto;
  width: 480px;
  background: white;
  position: fixed;
  bottom: 29px;
  right: 126px;
  padding: 24px 27px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  border-radius: '8px';
  z-index: 1;
  box-shadow:
    3px 2px 8px 0px #A8A8A84A,
    13px 8px 15px 0px #A8A8A842,
    28px 17px 20px 0px #A8A8A826,
    50px 30px 23px 0px #A8A8A80A,
    79px 47px 26px 0px #A8A8A803;

  @media (max-width:768px) {
    width: calc(100% - 40px);
    margin-top: 40px;
    margin-bottom: 20px;
    bottom: 20px;
    right: 20px;
  }
}

.Header {
  font-weight: 700;
  gap: 24px;
  font-size: 20px;
  line-height: 26px;
  display: flex;
  align-items: center;
  color: var(--gek-text-primary);
}

.Description {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--gek-additional);

  a {
    cursor: pointer;
  }
}

.FormButtons {
  display: flex;
  gap: 24px;
}
