.Sidebar {
  flex-basis: var(--sidebar-width);
  flex-grow: 0;
  flex-shrink: 0;
  height: 100%;
  background-color: #ffffff;
  box-shadow: 0 1px 81px rgba(0, 0, 0, 0.06);
}

:global(a.active) {

  & > .Item {

    .Coin {
      opacity: 1;
      pointer-events: none;
      filter: saturate(100%) invert(0%);
    }

    .Name {
      color: var(--color-blue-400);
      font-weight: 500;
    }

    &:after {
      position: absolute;
      height: 100%;
      width: 8px;
      content: "";
      background-color: var(--color-blue-400);
      left: 0;
      top: 0;
    }
  }
}

.Item {
  height: 88px;
  position: relative;
  display: flex;
  cursor: pointer;
  pointer-events: all;
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);

  .Coin {
    pointer-events: none;
    filter: saturate(10%) invert(0%);
    opacity: 0.3;
  }

  &:hover {
    box-shadow: 0 10px 27px 0 rgba(0, 0, 0, 0.16);

    .Coin {
      opacity: 1;
      pointer-events: none;
      filter: saturate(100%) invert(0%);
    }
  }
}