@import "@styles/mixins";

.Sidebar {
  flex-basis: var(--sidebar-width);
  flex-grow: 0;
  flex-shrink: 0;
  height: 100%;
  background-color: #ffffff;
  box-shadow: 0 1px 81px rgba(0, 0, 0, 0.06);

  @include devices(xxxl) {
    flex-basis: var(--sidebar-width-xxxl);
  }

  @include devices(xxl) {
    flex-basis: var(--sidebar-width-xxl);
  }
}

.Name {
  color: var(--color-gray-400);
  font-weight: 500;
  font-size: 12px;
}

.Sum {
  color: var(--color-gray-600);
  //font-weight: 400;
  font-size: 18px;
}

.SvgArrow {
  margin-right: 6px;

  path {
    fill: var(--color-gray-400);
  }
}

:global(a.active) {

  .SvgArrow {
    path {
      fill: var(--color-blue-400);
    }
  }

  & > .Item {
    box-shadow: 0 10px 27px 0 rgba(0, 0, 0, 0.16);

    .Sum {
      text-shadow: 0.5px 0 #000;
    }

    .Icon {
      opacity: 1;
      pointer-events: none;
      filter: saturate(100%) invert(0%);
    }

    .Name, .NavName {
      color: var(--color-blue-400);
      font-weight: 500;
    }

    &:after {
      position: absolute;
      height: 100%;
      width: 4px;
      content: "";
      background-color: var(--color-blue-400);
      left: 0;
      top: 0;
    }
  }
}

.Item {
  height: 85px;
  position: relative;
  display: flex;
  cursor: pointer;
  pointer-events: all;
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);

  .Icon {
    pointer-events: none;
    filter: saturate(10%) invert(0%);
    opacity: 0.3;
  }

  &:hover {
    box-shadow: 0 10px 27px 0 rgba(0, 0, 0, 0.16);

    .Name, .NavName {
      color: var(--color-blue-400);
      font-weight: 500;
    }

    .SvgArrow {
      path {
        fill: var(--color-blue-400);
      }
    }

    .Sum {
      text-shadow: 0.5px 0 #000;
    }

    .Icon {
      opacity: 1;
      pointer-events: none;
      filter: saturate(100%) invert(0%);
    }
  }
}