.Container {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-direction: row;

    -webkit-tap-highlight-color: transparent;
}

.NavButton {
    padding: 0.5rem;
    font-size: 1.25rem;
    line-height: 1.75rem;

    &:active {
        svg {
            fill: var(--gek-dark-grey);
            stroke: var(--gek-dark-grey);
        }
    }

    &:hover {
        svg {
            fill: var(--gek-mid-grey);
            stroke: var(--gek-mid-grey);
        }
    }    
}

.BackIcon {
    rotate: 180deg;
}
