.Rate {
  svg {
    width: 1em;
    height: 1em;
    fill: inherit;
  }

  &Up {
    color: var(--color-green);
    fill: var(--color-green);

    svg {
      animation: rotateUp 0.5s;
    }
  }

  &Down {
    color: var(--color-red);
    fill: var(--color-red);

    svg {
      animation: rotateDown 0.5s reverse;
      transform: rotate(180deg);
    }
  }

  @keyframes rotateDown {
    from {
      rotate: 0deg;
    }
    to {
      rotate: 180deg;
    }
  }

  @keyframes rotateUp {
    from {
      rotate: 180deg;
    }
    to {
      rotate: 0deg;
    }
  }
}
