@import "@styles/mixins.scss";

.Item {
  height: max-content;
  margin: 0px -7px;
  padding: 12px 5px;
  transition: .2s;
  min-height: 56px;
  font-weight: 400;
  gap: 0.75rem;
  
  &:hover {
    font-weight: 700;
    cursor: pointer;
  }

  display: flex;
  gap: 10px;
  justify-content: space-between;


  &Blocked {
    opacity: 50%;
    pointer-events: none;
  }



  @media screen and (max-width: 992px) {
    padding: 12px 5px;
  }

  @media screen and (max-width: 768px) {
    margin-bottom: 10px;
  }

  @include max-devices('md') {
    margin: 0;
    padding: 0;
    border-radius: 10px;
    // padding: 0 20px;
  }

}

.ItemTable {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  @include max-devices('lg') {
    grid-template-columns: repeat(3, 1fr);
  }
}

.ItemsList {
  margin: 0 -40px;
  padding: 0 40px;
  
  &.Loaded {
    box-shadow:
    inset 0px 11px 8px -10px rgba(0,0,0,0.1),
    inset 0px -11px 8px -10px rgba(0,0,0,0.1);
  }

  @include max-devices('md') {
    margin: 0;
    padding: 0;
  }
}

.SearchInput{
  display: flex;
  padding: 10px 18px;
  gap: 9px;
  border-radius: 8px;
  background: #FFF;
  align-items: center;

  .searchInputInner {
    height: 40px;
    width: 100%;
    border: none;
    &:focus{
      outline: none;
    }
  }

  
  @media screen and (max-width: 768px) {
    padding: 2px 10px;
  }

}

.Border {

  @media screen and (max-width: 768px) {
    border: 1px solid #d9d9d9;
  }
}

.MobileItem {
  background-color: #fff;
  margin-bottom: 9px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  .InnerName {
    display: block;
    font-size: 0.75rem;
    line-height: 1rem;
    color: #676767;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    @media screen and (max-width: 768px) {
      width: 23vw;
    }
  }
}

.RowTextGroup {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.TableRow {
  display: flex;
  align-items: center;

  &:first-child {
    @media screen and (max-width: 768px) {
      margin-left: 12px;
      width: 23vw;
    }
  }

  &:nth-child(2) {
    @media screen and (max-width: 768px) {
      min-width: 70px;
      max-width: 72px;
    }

    
    @media screen and (max-width: 340px) {
      margin-left: 10px;
    }
  }

  &:nth-child(2) {
    @media screen and (max-width: 992px) {
      justify-content: end;
      text-align: end;
    }
  }

  &:last-child {
    @media screen and (max-width: 768px) {
      max-width: 60px;
      margin-right: 13.5px;
    }
  }
}

.RowItemIcon {
  max-height: 40px;
  max-width: 40px;
  min-width: 40px;

  @media screen and (max-width: 768px) {
    max-height: 30px;
    max-width: 30px;
    min-width: 30px;
  }
}

.RowBalanceWrap {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-width: 150px;

  @media screen and (max-width: 400px) {
    min-width: 100px;
    text-align: end;
    align-items: end;
  }
}

.RowBalanceTitle {
  // align-self: flex-start;
  padding-right: 30px;
  font-size: 12px;
  color: var(--gek-dark-grey);
  font-weight: 400;

  @media screen and (max-width: 420px) {
    align-self: flex-end;
    padding-right: 0;
    position: relative;
    right: 25px;
  }
}

.RowBalanceSubtitle {
  align-self: flex-end;
  font-size: 12px;
  color: #1F3446;
  font-weight: 400;
}

.SearchValueTitle {
  text-align: center;
  color: var(--color-gray-400);
}

.PriceBlock {
  display: block;

  @media screen and (max-width: 768px) {
    font-size: 12.5px;
    text-wrap: nowrap;
    display: none;
  }
}

.DeskCol {
  color: var(--color-gray-400);
  font-weight: 500;

}

.TableColTitle {
  &:nth-child(2) {
    @media screen and (max-width: 992px) {
      justify-content: end;      
    }
  }
}

.RowItemInfoGroup {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 20px;
}

.PriceBlockMobile {
  display: none;

  @media screen and (max-width: 768px) {
    display: flex;
    align-items: center;
    margin-right: 20px;
  }
}

.RowBuyBtn {
  width: 60px;

  @media screen and (max-width: 768px) {
    min-width: 66px;
    height: 30px !important;
  }
}

.ItemEven {
  margin: 0 -40.5px !important;
  padding: 12px 38px !important;

  @media screen and (max-width: 768px) {
    margin: 0 0 10px 0 !important;
    padding: 0 !important;
  }
}

.ExchangeStyles {
  margin: 0 -18px;

  @media screen and (max-width: 768px) {
    margin: 0 -10px;
  }
}