@import "@styles/mixins.scss";

.Item {
  height: max-content;
  margin: 0px -40px;
  padding: 12px 40px;
  transition: .2s;
    
  @include max-devices('lg') {
    padding: 6px 20px;
  }

  &Blocked {
    opacity: 50%;
    pointer-events: none;
  }
}

.ItemsList {
  margin: 0 -40px;
  padding: 0 40px;
  
  &.Loaded {
    box-shadow:
    inset 0px 11px 8px -10px rgba(0,0,0,0.1),
    inset 0px -11px 8px -10px rgba(0,0,0,0.1);
  }

  @include max-devices('md') {
    margin: 0;
    padding: 0 20px;
  }
}

.SearchInput{
  display: flex;
  height: 40px;
  padding: 10px 18px;
  align-items: center;
  gap: 9px;
  align-self: stretch;
  border-radius: 8px;
  background: #FFF;
}