@import "@styles/mixins.scss";

.Item {
  margin: 0px -40px;
  padding: 12px 40px;
    
  @include max-devices('md') {
    padding: 6px 20px;
  }

  &Blocked {
    opacity: 50%;
    pointer-events: none;
  }
}

.ItemsList {
  margin: 0 -40px;
  padding: 0 40px;
  
  &.Loaded {
    box-shadow:
    inset 0px 11px 8px -10px rgba(0,0,0,0.1),
    inset 0px -11px 8px -10px rgba(0,0,0,0.1);
  }

  @include max-devices('md') {
    margin: 0;
    padding: 0 20px;
  }
}
