.wrapper {
    font-size: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .filters {
        display: flex;
        flex-direction: column;
        align-items: center;
        .grey:hover {
            background-color: #dadada !important;
        }
    }
    .selector {
        height: 50px;
    }
}
