.Header{
  height: 34px;
  display: flex;
  justify-content: space-between;  
  background: #1F3446;
}

.Name{
  color: #F5F5F5;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 10px;
  margin-right: 10px;
}
.Number{
  color: #929798;
  font-family: Archivo;
  font-size: 8px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-left: 10px;
  margin-right: 10px;
}


.NavBtn {
  background-image: url("/img/icon/MenuIcon.svg");
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 12px 15px;
  filter: brightness(0) invert(1);

  //todo change in context
  &:global(.active) {
    background-image: url("/img/icon/CloseIcon.svg");
  }
}

.AccountIcon {
  filter: brightness(0) invert(1);
}

.ArrowBtn {
  background-image: url("/img/icon/OpenModalButton.svg");
  width: 14px;
  height: 8px;
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(0) invert(1);
}



.GoBackBtn{
  background-image: url("/img/icon/GoBackButtonMobile.svg");
  width: 6px;
  height: 12px;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px 5%;
}