.NavBtn {
  background-image: url("/img/icon/MenuIcon.svg");
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 12px 15px;
  filter: brightness(0) invert(1);

  //todo change in context
  &:global(.active) {
    background-image: url("/img/icon/CloseIcon.svg");
  }
}

.AccountIcon {
  filter: brightness(0) invert(1);
}

.ArrowBtn {
  background-image: url("/img/icon/DropdownTriangleIcon.svg");
  width: 24px;
  height: 24px;
  margin: 12px 15px;
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(0) invert(1);
}
