.Header{
  height: 55px;
  padding:10px 0px; 
  display: flex;
  justify-content: space-between;  
  background: #29354C;
}

.Name{
  color: white;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 10px;
  margin-right: 10px;
}
.Number{
  color: #B9B9B5;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-left: 10px;
  margin-right: 10px;
}


.NavBtn {
  background-image: url("/img/icon/MenuIcon.svg");
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 12px 15px;
  filter: brightness(0) invert(1);

  //todo change in context
  &:global(.active) {
    background-image: url("/img/icon/CloseIcon.svg");
  }
}

.AccountIcon {
  filter: brightness(0) invert(1);
}

.ArrowBtn {
  background-image: url("/img/icon/OpenModalButton.svg");
  width: 16px;
  height: 8px;
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(0) invert(1);
}



.GoBackIcon{
  background-image: url("/img/icon/GoBackButtonMobile.svg");
  width: 6px;
  height: 12px;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px 5%;
}
.HeaderTitle{
  color: #F5F5F5;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.RoomsMenuItem {
  width: 100%;
  display: flex;
  text-align: left;
  flex-direction: column;
  gap: 4px;

  &Tokens {
    color: #3A5E66;
    font-weight: bold;
    font-size: 12px;
  }

  &Number {
    color: #29354C;
    font-size: 12px;
  }

  &Icon {
    color: #285E69;
    font-weight: 600;
    fill: #285E69;
  }
}
