@import "@styles/mixins";

.Field {
  position: relative;
  margin-top: 0.4rem;
  height: 60px;
  padding: 0 12px;
  border: 1px solid var(--color-secondary);
  border-radius: 4px;

  @include max-devices("md") {
    height: 56px;
    padding-right: 8px;
    margin-top: 0.3rem;
  }

  &Input {
    display: inline-flex;
    width: 100%;
    height: 100%;
    flex-grow: 1;
    padding: 0;
    background: none;
    border: none;
    font-size: 1rem;
    line-height: 1;
    outline: none;

    &:not(:last-child) {
      padding-bottom: 0.1rem;
    }
  }

  &InfoText {
    z-index: 10;
    user-select: none;
    margin-left: 12px;
    margin-top: -20px;
    line-height: 1rem;
    position: absolute;
    font-size: 0.75rem;
    white-space: nowrap;
    pointer-events: none;
    color: var(--color-secondary);

    @include max-devices("md") {
      font-size: 0.75rem;
    }
  }

  &SelectBtn {
    display: inline-flex;
    align-items: center;
    padding: 0;
    height: 100%;
    gap: 0.625rem;
    font-size: 0.875rem;
    font-weight: 500;
    white-space: nowrap;
    justify-content: flex-end;
    color: var(--color-gray-600);
    user-select: none;
    height: 64px;
    width: 138px;
    z-index: 10;
    margin-top: 27px;
    margin-left: -138px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

    @include max-devices("md") {
      gap: 0.3rem;
      font-size: 0.56rem;
    }

    svg {
      width: 7px;
      height: 17px;
      fill: var(--color-secondary);

      @include max-devices("md") {
        width: 5px;
        height: 14px;
      }
    }
  }

  &MaxLabel {
    margin-right: 10px;
    padding-right: 10px;
    flex-shrink: 0;
    font-size: 0.75rem;
    text-transform: uppercase;
    color: var(--color-secondary);
    border-right: 1px solid var(--color-secondary);

    @include max-devices("lg") {
      position: absolute;
      left: 12px;
      top: 4px;
      margin: 0;
      padding: 0;
      text-transform: none;
      font-size: 0.625rem;
      line-height: 1;
      border: none;
    }

    @include max-devices("md") {
      font-size: 0.5rem;
    }
  }

  &TokenIcon {
    width: 34px;
    min-width: 34px;

    @include max-devices("lg") {
      width: 28px;
      min-width: 28px;
    }

    @include max-devices("md") {
      width: 20px;
      min-width: 20px;
    }
  }

  &TokenTitle {
    min-width: 2.8rem;
    text-align: left;

    @include max-devices("md") {
      min-width: 1.875rem;
    }
  }

  &PriceLabel {
    display: inline-flex;
    align-items: center;
    height: 100%;
    gap: 0.25rem;
    font-weight: 500;
    white-space: nowrap;
    text-align: right;

    @include max-devices("lg") {
      font-size: 0.875rem;
      flex-shrink: initial;
      white-space: initial;
    }

    @include max-devices("md") {
      margin-right: -0.3rem;
      font-size: 0.56rem;
    }
  }

  &SwitchBtn {
    display: inline-flex;
    padding: 0;
    background: none;
    border: none;
    white-space: nowrap;
    pointer-events: all;

    img {
      min-width: 22px;
    }
  }

  &.disabled {
    pointer-events: none;
    background: var(--color-bgSecondary);
  }
}
