.Icon {
  pointer-events: none;
  filter: saturate(10%) invert(0%);
  opacity: 0.3;
}

.ParentClassForCoin {
  &:hover {
    .Icon {
      opacity: 1;
      pointer-events: none;
      filter: saturate(100%) invert(0%);
    }
  }
}
