@import "@styles/mixins";

.HistoryTxRow {
  display: grid;
  cursor: pointer;
  font-size: small;
  grid-row: 1fr 1fr;
  user-select: none;
  white-space: nowrap;
  background-color: white;
  border: 1px transparent solid;
  grid-template-columns: auto 1fr auto auto;

  &:hover {
    background-color: #f9f9fa;
    border: 1px var(--gek-light-grey) solid;
  }

  border-radius: 8px;
  padding: 4px 10px 5px 10px;
  margin-bottom: 5px;
}

.HTypeImg,
.HTypeImgOrg {
  width: 30px;
  height: 30px;
  grid-row: 1 / span 2;
  align-self: center;
  padding-top: 1px;
}

.HTypeImg {
  fill: var(--gek-additional);
  stroke: var(--gek-additional);
}

.HTypeImgOrg {
  fill: var(--gek-orange);
  stroke: var(--gek-orange);
}

.HTypeImg2 {
  grid-row: 1 / span 2;
  align-self: center;
  margin-left: 8px;
}

.HType,
.HTypeOrg {
  padding: 4px 0px 2px 2px;
  grid-row: 1;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
}

.HState,
.HStateOrg {
  font-size: 10px;
  padding: 2px 2px 2px 0px;
  grid-row: 1;
  text-align: right;
  text-transform: lowercase;
}

.HState{
  color: var(--gek-dark-blue);
}

.HStateOrg {
  color: var(--gek-orange);
}

.HTag {
  padding: 4px 0px 2px 2px;
  grid-row: 2;
  position: relative;
  overflow: hidden;
  color: var(--gek-mid-grey);
  font-size: smaller;
  text-overflow: ellipsis;
}

.HAmount {
  font-size: 12px;
  padding: 2px 2px 2px 0px;
  grid-row: 2;
  text-align: right;
  white-space: nowrap;
}

.HAmountRed {
  color: var(--gek-red);

  &::before {
    content: "-";
  }
}

.HAmountGreen {
  color: var(--gek-green);

  &::before {
    content: "+";
  }
}

.HType:after,
.HTypeOrg:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 75px;
}

.HType:after {
  border-bottom: var(--gek-additional) 1px solid;
}

.HTypeOrg:after {
  border-bottom: var(--gek-orange) 1px solid;
}
