@import "@styles/mixins";


.HeaderWalletDesktop{
    display: flex;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    margin: 20px 0px;
    padding: 10px 0px;
    border-radius: 8px;
    background: linear-gradient(270deg, rgba(255, 255, 255, 0.05) 0%, #FFF 101.23%);
}
.IconCoin{
    display: flex;
    width: 80px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    align-self: stretch;
    margin: 0px 10px;
}
.IconInfo{
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    align-self: center;
}
.IconBalance{
    display: flex;
    width: 306px;
    height: 78px;
    align-items: flex-start;
    margin: 0px 20px;
}
.IconRate{
    display: flex;
    margin: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    align-self: center;
}
.RateText{
    color: #9D9D9D;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.RatePercentText{
    color: #1F3446;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}




.IsEqualEuro{
    align-self: center;
    color: #9D9D9D;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.WalletInfoMainLeft{
    display: flex;
    // min-width: 150px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 3px;
    flex: 1 0 0;
    align-self: stretch;
}
.WalletInfoMainLeftText{
    display: flex;
    height: 15px;
    align-items: center;
    gap: 6px;
    align-self: stretch;
    border-bottom: 1px dotted #DADADA;
    color: #9D9D9D;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 166.667% */
}
.WalletInfoMainRight{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 3px;
    flex: 1 0 0;
    align-self: stretch;
}
.WalletInfoMainRightTextFree{
    display: flex;
    height: 15px;
    justify-content: end;
    align-items: center;
    align-self: stretch;
    border-bottom: 1px dotted #DADADA;
    color: var(--Pale-blue, #3A5E66);
    text-align: right;
    font-family: "Azeret Mono";
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.WalletInfoMainRightTextIncome{
    display: flex;
    height: 15px;
    justify-content: end;
    align-items: center;
    align-self: stretch;
    border-bottom: 1px dotted #DADADA;
    color: #2BAB72;
    text-align: right;
    font-family: "Azeret Mono";
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.WalletInfoMainRightTextOutcome{
    display: flex;
    height: 15px;
    justify-content: end;
    align-items: center;
    align-self: stretch;
    border-bottom: 1px dotted #DADADA;
    color: #972235;
    text-align: right;
    font-family: "Azeret Mono";
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.WalletInfoMainRightTextOrders{
    display: flex;
    height: 15px;
    justify-content: end;
    align-items: center;
    align-self: stretch;
    border-bottom: 1px dotted #DADADA;
    color: #285E69;
    text-align: right;
    font-family: "Azeret Mono";
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.WalletNameContainer{
    display: flex;
    align-items: flex-start;
    gap: 10px;
}
.WalletName{
    color: #29354C;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.WalletShortName{
    display: flex;
    justify-content: end;
    align-items: flex-start;
    flex: 1 0 0;
    color: #1F3446;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}