.HeaderContainer {
  padding: 10px 0;
  text-align: center;
  border-bottom: 2px dashed rgba(255, 255, 255, 0.2);

  h1 {
    margin-top: 26px;
    font-size: 30px;
    font-weight: 200;
    letter-spacing: 3px;
  }

  p {
    margin-top: 11px;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: normal;
  }
}
