@import "@fontsource/archivo";

.button {
    border-radius: 10px;
    font-family: 'Archivo', sans-serif;
    background-color: var(--gek-additional);
    min-width: 60px;
    min-height: 30px;
    color: white;
    transition: ease-in-out .2s;
    :hover {
        cursor: pointer;
    }
    :focus { 
        outline: none;
    }
}

.disabeled {
    background-color: var(--gek-mid-grey);
}
.warn {
    background-color: var(--gek-orange);
}
.alarm {
    background-color: var(--gek-red);
}
.light {
    background-color: var(--gek-green);
}
.outline {
    background-color: var(--gek-background);
    color: var(--gek-green);
    border: 2px solid var(--gek-green);
}