.Label {
  display: inline-flex;
  align-items: center;
  padding-left: 24px;
  position: relative;
  user-select: none;

  &.disabled {
    color: var(--color-secondary);
    padding-left: 0;
  }
}

.Checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 18px;
  border: 1px solid var(--color-secondary);
  border-radius: 4px;
  position: absolute;
  left: 0;
  margin: auto;
}

.Input {
  display: none;

  &:checked ~ .Checkbox {
    border-color: #2BAB72;;
  }
}
